# install nightly due to
# https://github.com/ray-project/ray/pull/51488
#ray[data,llm]>=2.45  # provided by Anyscale's base image
transformers>=4.51.3
torchaudio
datasets[audio]>=3.6.0
accelerate
huggingface_hub[hf_xet]
xgrammar
pydantic
flashinfer-python
