depsets:
  - name: ray_base_test_depset
    operation: compile
    requirements:
      - requirements_test.txt
    constraints:
      - requirement_constraints_test.txt
    output: requirements_compiled.txt

  - name: general_depset
    operation: compile
    requirements:
      - requirements_test.txt
    output: requirements_compiled_general_py311.txt

  - name: subset_general_depset
    operation: subset
    source_depset: general_depset
    requirements:
      - cloud-requirements.txt
    output: requirements_compiled_subset_general.txt

  - name: expand_general_depset
    operation: expand
    depsets:
      - general_depset
    constraints:
      - cloud-requirements.txt
    output: requirements_compiled_expand_general.txt
