/* Styling the "Try Anyscale" button */
.topbar-main > button.try-anyscale {
  float: right;
  border-radius: 6px;
  background-color: #e7f2fa;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 12px;
  height: 40px;
  border: none;
}
@media (max-width: 900px) {
  .topbar-main > button.try-anyscale {
    display: none;
  }
}
.topbar-main > button.try-anyscale > span {
  margin-right: 12px;
}

/* For Algolia search box
    * overflow-y: to flow-over horizontally into main content
    * height: to prevent topbar overlap
*/
#site-navigation {
  overflow-y: visible;
  height: 100% !important;
}

/* Center the algolia search bar*/
#search-input {
    text-align: center;
}
.algolia-autocomplete {
    width: 100%;
    margin: auto;
}

/* Hide confusing "<-" back arrow in navigation for larger displays */
@media (min-width: 768px) {
    #navbar-toggler {
        display: none;
    }
}

/* Make navigation scrollable on mobile, by making algolia not overflow */
@media (max-width: 768px) {
    #site-navigation {
        overflow-y: scroll;
    }

    .algolia-autocomplete .ds-dropdown-menu{
        min-width: 250px;
    }
}

/* sphinx-panels overrides the content width to 1140 for large displays.*/
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px !important;
    }
}

.bottom-right-promo-banner {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 270px;
}

@media (max-width: 1500px) {
    .bottom-right-promo-banner {
        display: none;
    }
}

/*Extends the docstring signature box.*/
.rst-content dl:not(.docutils) dt {
  display: block;
  padding: 10px;
  word-wrap: break-word;
  padding-right: 100px;
}
/*Lists in an admonition note do not have awkward whitespace below.*/
.rst-content .admonition-note .section ul {
  margin-bottom: 0px;
}
/*Properties become blue (classmethod, staticmethod, property)*/
.rst-content dl dt em.property {
  color: #2980b9;
  text-transform: uppercase;
}

.rst-content .section ol p,
.rst-content .section ul p {
  margin-bottom: 0px;
}

div.sphx-glr-bigcontainer {
  display: inline-block;
  width: 100%;
}

td.tune-colab,
th.tune-colab {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Adjustment to Sphinx Book Theme */
.table td {
  /* Remove row spacing */
  padding: 0;
}

img.inline-figure {
  /* Override the display: block for img */
  display: inherit !important;
}

#version-warning-banner {
  /* Make version warning clickable */
  z-index: 1;
  margin-left: 0;
  /* 20% is for ToC rightbar */
  /* 2 * 1.5625em is for horizontal margins */
  width: calc(100% - 20% - 2 * 1.5625em);
}

span.rst-current-version > span.fa.fa-book {
  /* Move the book icon away from the top right
   * corner of the version flyout menu */
  margin: 10px 0px 0px 5px;
}

/* Adjustment to Version block */
.rst-versions {
  z-index: 1200 !important;
}

dt:target, span.highlighted {
  background-color: #fbe54e;
}

/* allow scrollable images */
.figure {
    max-width: 100%;
    overflow-x: auto;
}
img.horizontal-scroll {
    max-width: none;
}

.clear-both {
    clear: both;
    min-height: 100px;
    margin-top: 15px;
}

.buttons-float-left {
    width: 150px;
    float: left;
}

.buttons-float-right {
    width: 150px;
    float: right;
}

/* Wrap code blocks instead of horizontal scrolling. */
pre {
    white-space: pre-wrap;
}

/* notebook formatting */
.cell .cell_output {
    max-height: 250px;
    overflow-y: auto;
}

/* Yellow doesn't render well on light background */
.cell .cell_output pre .-Color-Yellow {
    color: #785840;
}

/* Newlines (\a) and spaces (\20) before each parameter */
.sig-param::before {
  content: "\a\20\20\20\20";
  white-space: pre;
}

/* custom css for outlined buttons */
.btn-outline-info:hover span, .btn-outline-primary:hover span {
  color: #fff;
}

.btn-outline-info, .btn-outline-primary{
  border-color: var(--buttons-color-blue);
}

.btn-outline-info:hover, .btn-outline-primary:hover{
  border-color: var(--buttons-color-blue);
  background-color: var(--buttons-color-blue);
}

.btn-outline-info.active:not(:disabled):not(.disabled), .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
  border-color: var(--buttons-color-blue);
  background-color: var(--buttons-color-blue);
  color: #fff;
}

.btn-info, .btn-info:hover, .btn-info:focus {
  border-color: var(--buttons-color-blue);
  background-color: var(--buttons-color-blue);
}

.btn-info.active:not(:disabled):not(.disabled), .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  border-color: var(--buttons-color-blue);
  background-color: var(--buttons-color-blue);
}

.btn-info:hover{
  opacity: 90%;
}

.btn-info:disabled{
  border-color: var(--background-color-disabled);
  background-color: var(--background-color-disabled);
  opacity: 100%;
}

/* custom css for pre elements */
pre {
  box-shadow: none;
  border-color: var(--border-color-gray);
  background-color: var(--background-color-light-gray);
  border-radius:0.25em;
}

/* custom css for tabs*/
.tabbed-set>input:checked+label{
  border-bottom: 0.125em solid;
  color:var(--tabs-color-label-active);
}

.tabbed-set>label,.tabbed-set>label:hover {
  border-bottom: 1px solid var(--border-color-gray);
  color:var(--tabs-color-label-inactive);
  font-weight: 500;
}

.tabbed-label{
  margin-bottom:0;
}

/* custom css for jupyter cells */
div.cell div.cell_input{
  border: 1px var(--border-color-gray) solid;
  background-color: var(--background-color-light-gray);
  border-radius:0.25em;
  border-left-color: var(--green);
  border-left-width: medium;
}

/* custom css for table */
table {
  border-color: var(--border-color-gray);
}

/* custom css for topic component */
div.topic{
  border: 1px solid var(--border-color-gray);
  border-radius:0.25em;
}

.topic {
  background-color: var(--background-color-light-gray);
}

/* custom css for card component */
.card{
  border-color: var(--border-color-gray);
}

.card-footer{
  background-color: var(--background-color-light-gray);
  border-top-color: var(--border-color-gray);
}

/* custom css for section navigation component */
.bd-toc nav>.nav {
  border-left-color: var(--border-color-gray);
}

/* custom css for up and down arrows in collapsible cards */
details.dropdown .summary-up, details.dropdown .summary-down {
  top: 1em;
}

/* remove focus border in collapsible admonition buttons */
.toggle.admonition button.toggle-button:focus {
  outline: none;
}

/* custom css for shadow class */
.shadow {
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.0625rem rgb(0 0 0 / 10%) !important;
}

/* custom css for text area */
textarea {
  border-color: var(--border-color-gray);
}

/* custom css for footer */
footer {
  margin-top: 1rem;
  padding:1em 0;
  border-top-color: var(--border-color-gray);
}

.footer p{
  color: var(--pst-color-text-secondary);
}

/* override default colors used in the Sphnix theme */
:root {
  --tabs-color-label-active: #0475DE;
  --tabs-color-label-hover: #0475DE;
  --buttons-color-blue: #0475DE;
  --tabs-color-label-inactive: #9E9E9E;
  --tabs-color-overline: #e0e0e0;
  --tabs-color-underline: #e0e0e0;
  --border-color-gray: #e0e0e0;
  --background-color-light-gray:#fafafa;
  --background-color-disabled: #9E9E9E;
}

:root {
  --pst-color-link: 4, 117, 222;
  --pst-color-primary: 4, 117, 222;
  --pst-color-text-secondary: #616161;
}

:root {
  --blue: #0475DE;
}