/* Remove flicker for announcement top bar replacement */
.header-item.announcement {
    background-color: white;
    color: white;
    padding: 0;
}

/* Make the book theme secondary nav stick below the new main top nav */
.header-article {
    top: 58px;
    z-index: 900 !important;
}

.toctree-l1.has-children {
    font-weight: bold;
}

.toctree-l2 {
    font-weight: normal;
}

div.navbar-brand-box {
    padding-top: 4em;
}

/* For Algolia search box
    * overflow-y: to flow-over horizontally into main content
    * height: to prevent topbar overlap
*/
#site-navigation {
    overflow-y: visible;
    height: 100% !important;
}

/* Center the algolia search bar*/
#search-input {
    text-align: center;
}
.algolia-autocomplete {
    width: 100%;
    margin: auto;
}

/* Hide confusing "<-" back arrow in navigation for larger displays */
@media (min-width: 768px) {
    #navbar-toggler {
        display: none;
    }
}

/* Make navigation scrollable on mobile, by making algolia not overflow */
@media (max-width: 768px) {
    #site-navigation {
        overflow-y: scroll;
    }

    .algolia-autocomplete .ds-dropdown-menu{
        min-width: 250px;
    }
}

/* sphinx-panels overrides the content width to 1140 for large displays.*/
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px !important;
    }
}

.bottom-right-promo-banner {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 270px;
}

@media (max-width: 1500px) {
    .bottom-right-promo-banner {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .remove-mobile {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .row-2-column {
      flex-direction: column;
      margin-top: 20px;
    }
  }

/* Make Algolia search box scrollable */
.algolia-autocomplete .ds-dropdown-menu {
    height: 60vh !important;
    overflow-y: scroll !important;
}

/* Make the TOC on the left scrollable by itself */
#site-navigation .bd-sidebar__content {
    height: 80vh;
    overflow: visible;
}
.bd-sidebar__top {
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.bd-sidebar li {
    position: relative;
    word-wrap: break-word;
}

nav.bd-links {
    overflow-y: auto;
    flex: 1;
    padding-bottom: 50px;
}

nav.bd-links::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

nav.bd-links::-webkit-scrollbar {
    width: 5px;
}

dt:target, span.highlighted {
    background-color: #fbe54e;
}

div.sphx-glr-bigcontainer {
    display: inline-block;
    width: 100%;
}

td.tune-colab,
th.tune-colab {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Adjustment to Sphinx Book Theme */
.table td {
    /* Remove row spacing on the left */
    padding-left: 0;
}

.table thead th {
    /* Remove row spacing on the left */
    padding-left: 0;
}

img.inline-figure {
    /* Override the display: block for img */
    display: inherit !important;
}

#version-warning-banner {
    /* Make version warning clickable */
    z-index: 1;
    margin-left: 0;
    /* 20% is for ToC rightbar */
    /* 2 * 1.5625em is for horizontal margins */
    width: calc(100% - 20% - 2 * 1.5625em);
}

/* allow scrollable images */
.figure {
    max-width: 100%;
    overflow-x: auto;
}
img.horizontal-scroll {
    max-width: none;
}

.clear-both {
    clear: both;
    min-height: 100px;
    margin-top: 15px;
}

.buttons-float-left {
    width: 150px;
    float: left;
}

.buttons-float-right {
    width: 150px;
    float: right;
}

.card-body {
    padding: 0.5rem !important;
}

/* custom css for pre elements */
pre {
    /* Wrap code blocks instead of horizontal scrolling. */
    white-space: pre-wrap;
    box-shadow: none;
    border-color: var(--border-color-gray);
    background-color: var(--background-color-light-gray);
    border-radius:0.25em;
}

/* notebook formatting */
.cell .cell_output {
    max-height: 250px;
    overflow-y: auto;
    font-weight: bold;
}

/* Yellow doesn't render well on light background */
.cell .cell_output pre .-Color-Yellow {
    color: #785840;
}

/* Newlines (\a) and spaces (\20) before each parameter */
.sig-param::before {
    content: "\a\20\20\20\20";
    white-space: pre;
}

/* custom css for outlined buttons */
.btn-outline-info:hover span, .btn-outline-primary:hover span {
    color: #fff;
}

.btn-outline-info, .btn-outline-primary{
    border-color: var(--buttons-color-blue);
}

.btn-outline-info:hover, .btn-outline-primary:hover{
    border-color: var(--buttons-color-blue);
    background-color: var(--buttons-color-blue);
}

.btn-outline-info.active:not(:disabled):not(.disabled), .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
    border-color: var(--buttons-color-blue);
    background-color: var(--buttons-color-blue);
    color: #fff;
}

.btn-info, .btn-info:hover, .btn-info:focus {
    border-color: var(--buttons-color-blue);
    background-color: var(--buttons-color-blue);
}

.btn-info:hover{
    opacity: 90%;
}

.btn-info:disabled{
    border-color: var(--background-color-disabled);
    background-color: var(--background-color-disabled);
    opacity: 100%;
}

.btn-info.active:not(:disabled):not(.disabled), .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    border-color: var(--buttons-color-blue);
    background-color: var(--buttons-color-blue);
}


.topnav {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
}

/* Content wrapper for the unified nav link / menus */
.top-nav-content {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .top-nav-content {
        display: none;
    }
}

/* Styling the links and menus in the top nav */
.top-nav-content a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.top-nav-content a:hover {
    color: #007bff;
}

/* The left part are the links and menus */
.top-nav-content > .left {
    display: flex;
    white-space: nowrap;
}

.top-nav-content .left > * {
    margin-right: 8px;
}

.top-nav-content .left > a,
.top-nav-content .left > .menu > a {
    text-align: center;
    padding: 14px 16px;
    border-bottom: 2px solid white;
}

.top-nav-content .menu:hover > a,
.top-nav-content .left > a:hover {
    border-bottom: 2px solid #007bff;
}

/* Special styling for the Ray logo */
.top-nav-content .left > a.ray-logo {
    width: 90px;
    padding: 10px 0;
}
.top-nav-content .left > a.ray-logo:hover {
    border-bottom: 2px solid white;
}

/* Styling the dropdown menus */
.top-nav-content .menu {
    display: flex;
}
.top-nav-content .menu > a > .down-caret {
    margin-left: 8px;
}
.top-nav-content .menu > ul {
    display: none;
}

.top-nav-content > button.try-anyscale > span {
    margin: 0 12px;
}

.top-nav-content .menu:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    padding: 15px;
    width: 330px;
    position: absolute;
    z-index: 2000;
    background-color: white;
    top: 58px;
}

.top-nav-content .menu:hover > ul > li {
    list-style: none;
    padding: 5px 0;
}

.top-nav-content .menu:hover > ul > li span {
    display: block;
}

.top-nav-content .menu:hover > ul > li span.secondary {
    color: #787878;
}

/* Styling the "Try Anyscale" button */
.top-nav-content > button.try-anyscale {
    float: right;
    border-radius: 6px;
    background-color: #e7f2fa;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 12px;
    height: 40px;
    border: none;
    white-space: nowrap;
}

@media (max-width: 1000px) {
  .top-nav-content > button.try-anyscale {
    display: none;;
  }
}

/* custom css for tabs*/
.tabbed-set>label,.tabbed-set>label:hover {
    border-bottom: 1px solid var(--border-color-gray);
    color:var(--tabs-color-label-inactive);
    font-weight: 500;
}

.tabbed-set>input:checked+label{
    border-bottom: 0.125em solid;
    color:var(--tabs-color-label-active);
}


.tabbed-label{
    margin-bottom:0;
}

/* custom css for jupyter cells */
div.cell div.cell_input{
    border: 1px var(--border-color-gray) solid;
    background-color: var(--background-color-light-gray);
    border-radius:0.25em;
    border-left-color: var(--green);
    border-left-width: medium;
}

/* custom css for table */
table {
    border-color: var(--border-color-gray);
}

/* custom css for topic component */
div.topic{
    border: 1px solid var(--border-color-gray);
    border-radius:0.25em;
}

.topic {
    background-color: var(--background-color-light-gray);
}

/* custom css for card component */
.card{
    border-color: var(--border-color-gray);
}

.card-footer{
    background-color: var(--background-color-light-gray);
    border-top-color: var(--border-color-gray);
}

/* custom css for section navigation component */
.bd-toc nav>.nav {
    border-left-color: var(--border-color-gray);
}

/* custom css for up and down arrows in collapsible cards */
details.dropdown .summary-up, details.dropdown .summary-down {
    top: 1em;
}

/* remove focus border in collapsible admonition buttons */
.toggle.admonition button.toggle-button:focus {
    outline: none;
}

/* custom css for shadow class */
.shadow {
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.0625rem rgb(0 0 0 / 10%) !important;
}

/* custom css for text area */
textarea {
    border-color: var(--border-color-gray);
}

/* custom css for footer */
footer {
    margin-top: 1rem;
    padding:1em 0;
    border-top-color: var(--border-color-gray);
}

.footer p{
    color: var(--pst-color-text-secondary);
}

/* override default colors used in the Sphinx theme */
:root {
    --tabs-color-label-active: #0475DE;
    --tabs-color-label-hover: #0475DE;
    --buttons-color-blue: #0475DE;
    --tabs-color-label-inactive: #9E9E9E;
    --tabs-color-overline: #e0e0e0;
    --tabs-color-underline: #e0e0e0;
    --border-color-gray: #e0e0e0;
    --background-color-light-gray:#fafafa;
    --background-color-disabled: #9E9E9E;
    --pst-color-link: 4, 117, 222;
    --pst-color-primary: 4, 117, 222;
    --pst-color-text-secondary: #616161;
    --blue: #0475DE;
}

/* Make the hover color of tag/gallery buttons differ from "active" */
.tag.btn-outline-primary:hover {
    background-color: rgba(20, 99, 208, 0.62) !important;
}

span.rst-current-version > span.fa.fa-book {
    /* Move the book icon away from the top right
    * corner of the version flyout menu */
    margin: 10px 0px 0px 5px;
}


/*Extends the docstring signature box.*/
.rst-content dl:not(.docutils) dt {
    display: block;
    padding: 10px;
    word-wrap: break-word;
    padding-right: 100px;
}

/*Lists in an admonition note do not have awkward whitespace below.*/
.rst-content .admonition-note .section ul {
    margin-bottom: 0;
}

/*Properties become blue (classmethod, staticmethod, property)*/
.rst-content dl dt em.property {
    color: #2980b9;
    text-transform: uppercase;
}

.rst-content .section ol p,
.rst-content .section ul p {
    margin-bottom: 0;
}


/* Adjustment to Version block */
.rst-versions {
    z-index: 1200 !important;
}

.image-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right:16px;
    gap: 16px;
}

.info-box {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
}

.info-box:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.no-underline{
    text-decoration: none;
}
.no-underline:hover{
    text-decoration: none;
}

.icon-hover:hover{
    height: 30px ;
    width: 30px;
}

.info-box-2 {
    background-color: #F9FAFB;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    padding-top: 4px;
}


.bold-link {
    color: #000000 !important;
    font-weight: 600;
}

.community-box {
    border: 1px solid #D2DCE6;
    border-radius: 8px;
    display: flex;
    margin-bottom: 16px;
}

.community-box:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.community-box p {
    margin-top: 1rem !important;
}

.tab-pane pre {
    margin: 0;
    padding: 0;
    max-height: 252px;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 16px;
}

.grid-item {
padding: 20px;
}


.nav-pills {
    background-color: #F9FAFB;
    color: #000000;
    padding: 8px;
    border-bottom:none;
    border-radius: 8px;
}

.nav-pills .nav-link.active {
    background-color: #FFFFFF !important;
    box-shadow: 0px 3px 14px 2px rgba(3,28,74,0.12);
    border-radius: 8px;
    padding: 20px;
    color: #000000;
    font-weight: 500;
}

.mantine-Modal-root {
  z-index: 10000;
  position: absolute;
}

.mantine-Button-root{
    bottom: 60px !important;
}

#kapa-widget-container {
  z-index: 10000 !important;
  position: absolute !important;
}

.mantine-1sc70ew, .mantine-fp9t1o {
    width: 100% !important;
    height: 100% !important;
}

.searchDiv {
    width: 100%;
    position: relative;
    display: block;
}

.searchTerm {
    width: 80%;
    border: 2px solid var(--blue);
    padding: 5px;
    height: 45px;
    border-radius: 5px;
    outline: none;
}

.searchButton {
    width: 40px;
    height: 45px;
    border: 1px solid var(--blue);
    background: var(--blue);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.searchWrap {
    width: 100%;
    position: relative;
    margin: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
}

.sd-card {
    border: none !important;
}

.tag {
    margin-bottom: 5px;
    font-size: small;
}

/* Override float positioning of next-prev buttons so that
 they take up space normally, and we can put other stuff at
 the bottom of the page. */
.prev-next-area {
  display: flex;
  flex-direction: row;
}
.prev-next-area a.left-prev {
  margin-right: auto;
  width: fit-content;
  float: none;
}
.prev-next-area a.right-next {
  margin-left: auto;
  width: fit-content;
  float: none;
}

/* CSAT widgets */
#csat-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.csat-hidden {
  display: none !important;
}

#csat-feedback-label {
  color: #000;
  font-weight: 500;
}

.csat-button {
  margin-left: 16px;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid #D2DCE6;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 85px;
}

#csat-textarea-group {
  display: flex;
  flex-direction: column;
}

#csat-submit {
  margin-left: auto;
  font-weight: 700;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}

#csat-feedback-received {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.csat-button-active {
  border: 1px solid #000;
}

.csat-icon {
  margin-right: 4px;
}

footer.col.footer {
  display: flex;
  flex-direction: row;
}

footer.col.footer > p {
  margin-left: auto;
}

#csat {
  min-width: 60%;
}

#csat-textarea {
  resize: none;
}
