/* For Algolia search box to flow-over horizontally into main content*/
#site-navigation { overflow-y: visible; }

/* Center the algolia search bar*/
#search-input {
    text-align: center;
}
.algolia-autocomplete {
    width: 100%;
    margin: auto;
}

/* Hide confusing "<-" back arrow in navigation for larger displays */
@media (min-width: 768px) {
    #navbar-toggler {
        display: none;
    }
}

/* Make navigation scrollable on mobile, by making algolia not overflow */
@media (max-width: 768px) {
    #site-navigation {
        overflow-y: scroll;
    }

    .algolia-autocomplete .ds-dropdown-menu{
        min-width: 250px;
    }
}

/* sphinx-panels overrides the content width to 1140 for large displays.*/
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px !important;
    }
}

.bottom-right-promo-banner {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 270px;
}

@media (max-width: 1500px) {
    .bottom-right-promo-banner {
        display: none;
    }
}

/*Extends the docstring signature box.*/
.rst-content dl:not(.docutils) dt {
  display: block;
  padding: 10px;
  word-wrap: break-word;
  padding-right: 100px;
}
/*Lists in an admonition note do not have awkward whitespace below.*/
.rst-content .admonition-note .section ul {
  margin-bottom: 0px;
}
/*Properties become blue (classmethod, staticmethod, property)*/
.rst-content dl dt em.property {
  color: #2980b9;
  text-transform: uppercase;
}

.rst-content .section ol p,
.rst-content .section ul p {
  margin-bottom: 0px;
}

div.sphx-glr-bigcontainer {
  display: inline-block;
  width: 100%;
}

td.tune-colab,
th.tune-colab {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Adjustment to Sphinx Book Theme */
.table td {
  /* Remove row spacing */
  padding: 0;
}

table {
  /* Force full width for all table */
  width: 136% !important;
}

img.inline-figure {
  /* Override the display: block for img */
  display: inherit !important;
}

#version-warning-banner {
  /* Make version warning clickable */
  z-index: 1;
  margin-left: 0;
  /* 20% is for ToC rightbar */
  /* 2 * 1.5625em is for horizontal margins */
  width: calc(100% - 20% - 2 * 1.5625em);
}

span.rst-current-version > span.fa.fa-book {
  /* Move the book icon away from the top right
   * corner of the version flyout menu */
  margin: 10px 0px 0px 5px;
}

/* Adjustment to Version block */
.rst-versions {
  z-index: 1200 !important;
}

dt:target, span.highlighted {
  background-color: #fbe54e;
}

/* allow scrollable images */
.figure {
    max-width: 100%;
    overflow-x: auto;
}
img.horizontal-scroll {
    max-width: none;
}

.clear-both {
    clear: both;
    min-height: 100px;
    margin-top: 15px;
}

.buttons-float-left {
    width: 150px;
    float: left;
}

.buttons-float-right {
    width: 150px;
    float: right;
}

/* Wrap code blocks instead of horizontal scrolling. */
pre {
    white-space: pre-wrap;
}

/* notebook formatting */
.cell .cell_output {
    max-height: 250px;
    overflow-y: auto;
}

/* Yellow doesn't render well on light background */
.cell .cell_output pre .-Color-Yellow {
    color: #785840;
}

/* Newlines (\a) and spaces (\20) before each parameter */
.sig-param::before {
  content: "\a\20\20\20\20";
  white-space: pre;
}
