:root {
  --ray-example-gallery-gap-x: 18px;
  --ray-example-gallery-gap-y: 22px;
}

.gallery-sidebar {
  width: 100%;
}

.gallery-sidebar h5 {
  font-size: 16px;
  font-weight: 600;
}

.gallery-sidebar h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.searchDiv {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--pst-color-border);
  border-radius: 4px;
  background-color: var(--pst-color-on-background);
  justify-content: center;
  align-items: center;
  height: 50px;
}

#search-input-label {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchDiv:focus-within {
  outline: 2px solid var(--pst-color-border);
}

#search-icon {
  fill: var(--pst-color-text-base);
  margin: 0em 1em;
}

#searchInput {
  width: 100%;
  color: var(--pst-color-text-base);
  border: none;
  background-color: transparent;
}

#searchInput:focus-visible {
  outline: none;
}

#searchInput::placeholder {
  color: var(--pst-color-text-muted);
  opacity: 1;
}

/* Tag button styling */
.tag-group {
  display: flex;
  flex-flow: wrap;
  gap: 0em 0.5em;
}
.tag {
  margin-bottom: 5px;
  font-size: small;
  background-color: var(--pst-color-on-background);
  border: 1px solid var(--pst-color-border);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
  color: var(--pst-color-text-base);
  padding: 3px 12px 3px 12px;
  line-height: 20px;
}

.tag > svg > path {
  fill: var(--pst-color-text-base);
}
.tag:hover {
  background-color: var(--pst-color-info-highlight) !important;
  color: var(--pst-color-info-text) !important;
}
.tag:hover > svg > path {
  fill: var(--pst-color-info-text) !important;
}

/* Selected tag buttons */
.tag.btn-primary {
  background-color: var(--pst-color-info-bg);
}
/* Inactive tag buttons */
.tag.btn-outline-primary {
  background-color: var(--pst-color-on-background);
}

div.sd-container-fluid.docutils > div {
  gap: var(--ray-example-gallery-gap-y) var(--ray-example-gallery-gap-x);
  display: grid;
  grid-template-columns: 1fr;
}

/* Reflow to a 2-column format for normal screens */
@media screen and (min-width: 768px) {
  div.sd-container-fluid.docutils > div {
    grid-template-columns: 1fr 1fr;
  }
}

div.gallery-item {
  width: auto;
}

/* Override sphinx-design box shadow styles */
div.gallery-item > div.sd-card {
  box-shadow: 0 .125rem .25rem var(--pst-color-shadow) !important;
  border: none;
}

/* Example gallery "Tutorial" title */
div.sd-card-title > span.sd-bg-success.sd-bg-text-success {
  color: #2F80ED !important;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(25, 177, 226, 0.2) 0%, rgba(0, 109, 255, 0.2) 100%);
  background-color: initial !important;
}

/* Example gallery "Code example" title */
div.sd-card-title > span.sd-bg-secondary.sd-bg-text-secondary {
  color: #219653 !important;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(29, 151, 108, 0.2) 0%, rgba(0, 226, 147, 0.2) 100%);
  background-color: initial !important;
}

/* Example gallery "Blog" title */
div.sd-card-title > span.sd-bg-primary.sd-bg-text-primary {
  color: #F2994A !important;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(255, 230, 5, 0.2) 0%, rgba(255, 185, 80, 0.2) 100%);
  background-color: initial !important;
}

/* Example gallery "Video" title */
div.sd-card-title > span.sd-bg-warning.sd-bg-text-warning {
  color: #EB5757 !important;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(150, 7, 7, 0.2) 0%, rgba(255, 115, 115, 0.2) 100%);
  background-color: initial !important;
}

/* Example gallery "Course" title */
div.sd-card-title > span.sd-bg-info.sd-bg-text-info {
  color: #7A64FF !important;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(53, 25, 226, 0.2) 0%, rgba(183, 149, 255, 0.2) 100%);
  background-color: initial !important;
}

#noMatches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#noMatchesInnerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#noMatches.hidden,.gallery-item.hidden {
  display: none !important;
}
