# clangd is used by popular IDE extensions to support features
# such as autocomplete and code navigation.

# clangd needs to know how your C++ files are used to build its index.
# These dependencies are captured by Bazel.
# Run 'bazel run :refresh_compile_commands' to generate a compile_commands.json
# file that clangd can use to get this information.
CompileFlags:
  CompilationDatabase: .

Index:
  Background: Build
