# Disabled checks are due to frequent false positives and noisiness.
# They can be re-enabled later on if the benefit outweighs the cost.
# TODO: enable google-* and readability-* families of checks.
Checks: >
  abseil-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-emplace,
  -modernize-use-trailing-return-type,

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"