[flake8]
exclude =
  python/ray/core/generated/
  doc/source/conf.py
  python/ray/cloudpickle/
  python/ray/thirdparty_files/
  python/build/
  python/.eggs/
  python/ray/_private/thirdparty/*
  python/ray/workflow/tests/mock_server.py
max-line-length = 88
inline-quotes = "
ignore =
  C417
  F811
  C408
  C417
  E121
  E123
  E126
  E203
  E226
  E24
  E704
  W503
  W504
  W605
  I
  N
  B001
  B002
  B003
  B004
  B005
  B007
  B008
  B009
  B010
  B011
  B012
  B013
  B014
  B015
  B016
  B017
avoid-escape = no
# Error E731 is ignored because of the migration from YAPF to Black.
# See https://github.com/ray-project/ray/issues/21315 for more information.
per-file-ignores =
    rllib/evaluation/worker_set.py:E731
    rllib/evaluation/sampler.py:E731
