[flake8]
exclude = 
  python/ray/core/generated/
  streaming/python/generated
  doc/source/conf.py
  python/ray/cloudpickle/
  python/ray/thirdparty_files/
  python/build/
  python/.eggs/
max-line-length = 79
inline-quotes = "
ignore =
  C408
  E121
  E123
  E126
  E226
  E24
  E704
  W503
  W504
  W605
  I
  N
avoid-escape = no
