exclude: |
  (?x)^(
    python/ray/core/generated/|
    python/ray/serve/generated/|
    python/ray/cloudpickle/|
    python/ray/dashboard/client/public/|
    python/ray/tests/test_cli_patterns|
    python/ray/_private/runtime_env/_clonevirtualenv.py|
    python/ray/data/examples/data/|
    release/release_logs/|
    rllib/tests/data|
    thirdparty/patches/|
    src/ray/thirdparty/|
    doc/external/|
    doc/source/
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-ast
        exclude: |
          (?x)(
            python/ray/serve/tests/test_config_files/syntax_error\.py
          )$
      - id: check-json
        exclude: |
          (?x)^(
            # Intentionally bad json schema
            python/ray/tests/unit/test_runtime_env_validation_bad_schema.json|
            # json5 comments prevent parsing
            python/asv.conf.json|
            rllib/asv.conf.json
          )
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff
        args: [ --select, "I", --fix, --exit-non-zero-on-fix ]

  # pydoclint-local is for local commits only due to pre-commit-hook only passing
  # updated files to the hook and overwriting the baseline text file
  - repo: https://github.com/jsh9/pydoclint
    rev: "0.6.6"
    hooks:
      - id: pydoclint
        name: pydoclint-local
        stages: [pre-commit, pre-push]
        args: [
          --style=google,
          --baseline=ci/lint/pydoclint-baseline.txt,
          --exclude=thirdparty|^python/ray/serve/tests/test_config_files/syntax_error\.py$|^python/ray/_private/parameter\.py$,
          --auto-regenerate-baseline=False,
          # Current settings (not because we think they're right, but because we
          # don't want a baseline the size of the codebase)
          --arg-type-hints-in-docstring=False,
          --skip-checking-raises=True,
          --check-return-types=False,
          --allow-init-docstring=True,
          --check-class-attributes=False,
          # --check-style-mismatch=True, # Bring this back once things are a bit cleaner
        ]
        types: [python]
        files: '^python/ray/'

  # pydoclint-ci is for CI, overwrites the baseline text file, and is run with the manual stage flag
  - repo: https://github.com/jsh9/pydoclint
    rev: "0.6.6"
    hooks:
      - id: pydoclint
        name: pydoclint-ci
        stages: [manual]
        args: [
          --style=google,
          --baseline=ci/lint/pydoclint-baseline.txt,
          --exclude=thirdparty|^python/ray/serve/tests/test_config_files/syntax_error\.py$|^python/ray/_private/parameter\.py$,
          # --generate-baseline=True, # Not generally needed, but documenting since this is how we generate the initial baseline
          --auto-regenerate-baseline=True,
          # Current settings (not because we think they're right, but because we
          # don't want a baseline the size of the codebase)
          --arg-type-hints-in-docstring=False,
          --skip-checking-raises=True,
          --check-return-types=False,
          --allow-init-docstring=True,
          --check-class-attributes=False,
          # --check-style-mismatch=True, # Bring this back once things are a bit cleaner
        ]
        types: [python]
        files: '^python/ray/'

  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.0
    hooks:
      - id: cpplint
        args: ["--filter=-whitespace/braces,-whitespace/line_length,-build/c++11,-build/c++14,-build/c++17,-readability/braces,-whitespace/indent_namespace,-runtime/int,-runtime/references,-build/include_order"]
        files: ^src/ray/(common/cgroup2|common/scheduling|common/ray_syncer|common/test|util|raylet_client|internal|scheduling|pubsub|object_manager|rpc(?:/.*)?|raylet|core_worker|ipc)/.*\.(h|cc)$
        exclude: |
          (?x)^(
            src/ray/raylet/scheduling/.*\.(h|cc)$ |
            src/ray/core_worker/lib/java/.*\.h$
          )

  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 8.0.1
    hooks:
      - id: buildifier
        files: ^(src|cpp|python|rllib|ci|release|java)(/[^/]+)*/BUILD(\.bazel)?$|^BUILD.bazel$
      - id: buildifier-lint
        files: ^(src|cpp|python|rllib|ci|release|java)(/[^/]+)*/BUILD(\.bazel)?$|^BUILD.bazel$

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        exclude: |
          (?x)^(
            python/ray/cloudpickle/|
            python/build/|
            python/ray/core/src/ray/gcs/|
            python/ray/thirdparty_files/|
            python/ray/_private/thirdparty/|
            python/ray/serve/tests/test_config_files/syntax_error\.py|
            python/ray/serve/_private/benchmarks/streaming/_grpc/test_server_pb2_grpc\.py|
            doc/external/
          )
        types_or: [python]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: 'doc/'
        types_or: [javascript, ts, tsx, html, css]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.0
    hooks:
      - id: mypy
        args: ['--follow-imports=skip', '--ignore-missing-imports']
        files: |
          (?x)^(
            python/ray/autoscaler/node_provider.py|
            python/ray/autoscaler/sdk/__init__.py|
            python/ray/autoscaler/sdk/sdk.py|
            python/ray/autoscaler/_private/commands.py|
            python/ray/autoscaler/_private/autoscaler.py|
            python/ray/_private/gcs_utils.py
          )
        additional_dependencies:
          [
            types-PyYAML==6.0.12.2,
          ]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: python-no-log-warn
      - id: python-check-mock-methods

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.1
    hooks:
      - id: shellcheck
        args: ['--exclude=1090,1091,2207']
          # 1090: Can't follow non-constant source. Use a directive to specify location.
          # 1091: Not following {file} due to some error
          # 2207: Prefer mapfile or read -a to split command output (or quote to avoid splitting). -- these aren't compatible with macOS's old Bash

  - repo: https://github.com/pre-commit/mirrors-clang-format
    # `rev` specifies a tag on the above repo that mirrors the corresponding clang-format version.
    rev: v12.0.1
    hooks:
      - id: clang-format

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.11.0
    hooks:
      - id: pretty-format-java
        args: [--autofix, --google-java-formatter-version=1.7]
        exclude: |
          (?x)^(
            java/api/src/main/java/io/ray/api/ActorCall.java|
            java/api/src/main/java/io/ray/api/CppActorCall.java|
            java/api/src/main/java/io/ray/api/PyActorCall.java|
            java/api/src/main/java/io/ray/api/RayCall.java
          )

  - repo: local
    hooks:
      - id: docstyle
        name: Check for Ray docstyle violations
        entry: ci/lint/check-docstyle.sh
        language: system
        types: [python]

  - repo: https://github.com/semgrep/pre-commit
    rev: v1.32.0
    hooks:
      - id: semgrep
        args: [--config=semgrep.yml, --error]

  - repo: https://github.com/errata-ai/vale
    rev: v3.4.1
    hooks:
      - id: vale
        files: ^doc/source/data/.*\.(md|rst)$

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.18.1
    hooks:
      - id: cython-lint
        args: [--no-pycodestyle]

  - repo: local
    hooks:
      - id: check-import-order
        name: Check for Ray import order violations
        entry: python ci/lint/check_import_order.py
        language: python
        types: [python]
        pass_filenames: false
        args: [".", "-s", "ci", "-s", "python/ray/thirdparty_files", "-s", "python/build", "-s", "lib"]

  - repo: local
    hooks:
      - id: check-cpp-files-inclusion
        name: Check ray core C++ files inclusion violations
        entry: ci/lint/check_cpp_files_inclusion.py
        language: python
        files: '^src/ray/'
        types: [c++]

  - repo: local
    hooks:
    - id: check-train-circular-imports
      name: Check Ray Train circular imports
      entry: python python/ray/train/lint/check_circular_imports.py
      language: system
      types: [python]
      files: '^python/ray/train/.*\.py$'
      pass_filenames: false
      args: ["--patch_dir", "ray/train/v2"]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.26.0
    hooks:
      - id: eslint
        files: ^python/ray/dashboard/client/src/.*\.(tsx|ts)$
        types: [file]
        args:
          - --max-warnings=0
        additional_dependencies:
          - eslint@8.26.0
          - eslint-plugin-react@7.31.10
          - eslint-plugin-import@2.26.0
          - eslint-config-react-app@7.0.1
          - eslint-plugin-prefer-arrow@1.2.3
          - '@typescript-eslint/parser@5.41.0'
          - '@typescript-eslint/eslint-plugin@5.41.0'
          - '@typescript-eslint/parser@5.41.0'
          - '@typescript-eslint/eslint-plugin@5.41.0'
