sudo: required

language: generic

matrix:
  include:
    - os: linux
      dist: trusty
      python: "2.7"
    - os: linux
      dist: trusty
      python: "3.5"
    - os: osx
      osx_image: xcode7
      python: "2.7"
    - os: osx
      osx_image: xcode7
      python: "3.5"

install:
  - make

script:
  - source setup-env.sh
  - python test/test.py
