sudo: required

language: generic

matrix:
  include:
    - os: linux
      dist: trusty
      python: "2.7"
    - os: linux
      dist: trusty
      python: "3.5"
    - os: osx
      osx_image: xcode7
      python: "2.7"
    - os: osx
      osx_image: xcode7
      python: "3.5"
    - os: linux
      dist: trusty
      env: LINT=1
      before_install:
        # In case we ever want to use a different version of clang-format:
        #- wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        #- echo "deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty main" | sudo tee -a /etc/apt/sources.list > /dev/null
        - sudo apt-get update -qq
        - sudo apt-get install -qq clang-format-3.8
      install: []
      script:
        - .travis/check-git-clang-format-output.sh
    - os: linux
      dist: trusty
      python: "2.7"
      env: VALGRIND=1
      before_install:
        - sudo apt-get update -qq
        - sudo apt-get install -qq valgrind
      script:
        - make valgrind

install:
  - ./install-dependencies.sh
  - make
  - make test
  - cd lib/python
  - python setup.py install --user
  - cd ../..

script:
  - python test/test.py
