[project]
requires-python = ">=3.9"

[tool.ruff]
line-length = 88
extend-exclude = [
    "python/ray/thirdparty_files/",
    "python/ray/_private/thirdparty/",
    "python/ray/_private/runtime_env/agent/thirdparty_files/",
    "python/build/",
    "python/ray/workflow/tests/mock_server.py",
    "python/ray/serve/tests/test_config_files/syntax_error.py",
]

[tool.ruff.lint]
extend-select = ["I", "B", "Q", "C4"]
ignore = [
    "B003",
    "B005",
    "B007",
    "B008",
    "B011",
    "B012",
    "B015",
    "B017",
    "B028",
    "C408",
    "C417",
    # TODO(MortalHappiness): Remove the following rules from the ignore list
    # The above are rules ignored originally in flake8
    # The following are rules ignored in ruff
    "E721",
    "E741",
    "F602",
    "F841",
    "B018",
    "B023",
    "B024",
    "B026",
    "B027",
    "B035",
    "B904",
    "C416",
    "C418",
    "C419",
    # Below are auto-fixable rules
    "I001",
]

[tool.ruff.lint.flake8-quotes]
avoid-escape = false
