# ML tracking integrations
comet-ml==3.44.1
mlflow>=2.22.0
wandb==0.17.0

# ML training frameworks
xgboost==2.1.0
lightgbm==4.6.0

# Huggingface
transformers==4.36.2
accelerate==0.28.0

# Cloud storage tools
s3fs==2023.12.1
