# ML tracking integrations
comet-ml==3.31.9
mlflow==2.4.1
wandb==0.13.4

# ML training frameworks
xgboost==1.7.6
xgboost_ray==0.1.18

lightgbm==3.3.5
lightgbm_ray==0.1.9

# Huggingface
transformers==4.19.1  # TODO(ml-team): This should be upgraded.
accelerate==0.20.3

# DL libraries
-r dl-cpu-requirements.txt

# Cloud storage tools
s3fs==2023.5.0
