# Used by CI for testing the fast path of ray.data.read_tfrecords(),
# which uses the tfx-bsl library. When installing this package via
# data-test-requirements.txt, there are multiple other dependency conflicts
# (e.g. grcpio-tools, cython, etc.) which are incompatible with the 
# other packages used in the CI tests. Therefore, we separate out
# the tests requiring this package into a separate CI job.
# See: https://github.com/ray-project/ray/pull/42277#discussion_r1465556625

# Pin pandas to the same version as tfx-bsl to avoid a dependency conflict.
# https://github.com/tensorflow/tfx-bsl/blob/59c848bc233625c105b8124769064d621afd2b2d/setup.py#L174C8-L174C26
# The main issue is that `ExtensionArrayFormatter` was removed from pandas
# in https://github.com/pandas-dev/pandas/pull/36510/commits/c3568a217068e75e450ed0d03b64140e7c71bd1c
pandas==1.5.3

tfx-bsl==1.14.0
