# Used by CI for datasets tests.
# https://github.com/ray-project/ray/pull/29448#discussion_r1006256498

python-snappy; python_version <= '3.10'
tensorflow-datasets==4.9.3
datasets
pytest-repeat
soundfile
fastavro
google-cloud-bigquery
google-cloud-core==2.4.1
google-cloud-bigquery-storage==2.24.0
google-api-core==1.34.0
webdataset
raydp==1.7.0b20231020.dev0
pylance
