# Used by CI for datasets and docs.
# https://github.com/ray-project/ray/pull/29448#discussion_r1006256498

getdaft==0.4.3
dask[complete]==2023.6.1; python_version < '3.12'
distributed==2023.6.1; python_version < '3.12'
dask[complete]==2025.5.0; python_version >= '3.12'
distributed==2025.5.0; python_version >= '3.12'
aioboto3==12.1.0
crc32c==2.3
flask_cors
bokeh==2.4.3; python_version < '3.12'
modin==0.22.2; python_version < '3.12'
pandas==1.5.3; python_version < '3.12'
modin==0.31.0; python_version >= '3.12'
pandas==2.2.2; python_version >= '3.12'
responses==0.13.4
pymars>=0.8.3; python_version < "3.12"
