# Used by CI for datasets and docs.
# https://github.com/ray-project/ray/pull/29448#discussion_r1006256498

getdaft==0.4.3
dask[complete]>=2024.6.0
distributed>=2024.6.0
aioboto3==11.2.0
crc32c==2.3
flask_cors
modin>=0.31.0
pandas>=2.2.2
responses==0.13.4
pymars>=0.8.3; python_version < "3.12"
