# Note: these requirements are only used for the purpose of testing the jax
# backend with TPU. They are not used for the docker images.

tensorflow==2.9.1; python_version >= '3.7'
flax==0.5.3
einops==0.4.1
tensorflow_datasets==4.6.0
optax

# JAX for TPU
-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]==0.4.25; sys_platform == 'linux'
