# Used by CI.

--extra-index-url https://download.pytorch.org/whl/cu121

aiohttp==3.9.5; python_version >= '3.11'
blake3==1.0.2; python_version >= '3.11'
cloudpickle==2.2.0; python_version >= '3.11'
compressed-tensors==0.8.1; python_version >= '3.11'
depyf==0.18.0; python_version >= '3.11'
einops==0.8.0; python_version >= '3.11'
fastapi==0.109.2; python_version >= '3.11'
filelock==3.17.0; python_version >= '3.11'
gguf==0.10.0; python_version >= '3.11'
importlib_metadata==8.6.1; python_version >= '3.11'
lark==1.2.2; python_version >= '3.11'
lm-format-enforcer==0.10.9; python_version >= '3.11'
mistral_common==1.5.2; python_version >= '3.11'
msgspec==0.19.0; python_version >= '3.11'
numpy==1.26.4; python_version >= '3.11'
nvidia-ml-py==12.560.30; python_version >= '3.11'
openai==1.60.0; python_version >= '3.11'
outlines==0.1.11; python_version >= '3.11'
partial-json-parser==0.2.1.1.post5; python_version >= '3.11'
pillow==10.4.0; python_version >= '3.11'
prometheus-fastapi-instrumentator==7.0.2; python_version >= '3.11'
prometheus_client==0.19.0; python_version >= '3.11'
protobuf==4.25.5; python_version >= '3.11'
psutil==5.9.6; python_version >= '3.11'
py-cpuinfo==9.0.0; python_version >= '3.11'
pydantic==2.10.5; python_version >= '3.11'
pyyaml not found; python_version >= '3.11'
pyzmq==26.0.3; python_version >= '3.11'
ray==3.0.0.dev0; python_version >= '3.11'
requests==2.31.0; python_version >= '3.11'
sentencepiece==0.2.0; python_version >= '3.11'
tiktoken==0.7.0; python_version >= '3.11'
tokenizers==0.21.0; python_version >= '3.11'
torch==2.5.1; python_version >= '3.11'
torchvision==0.20.1; python_version >= '3.11'
tqdm==4.67.1; python_version >= '3.11'
transformers==4.48.1; python_version >= '3.11'
typing_extensions==4.12.2; python_version >= '3.11'
uvicorn==0.22.0; python_version >= '3.11'
xformers==0.0.28.post3; python_version >= '3.11'
xgrammar==0.1.10; python_version >= '3.11'
