-r requirements_dl.txt

# Environment adapters.
# ---------------------
# Atari
autorom[accept-rom-license]
gym[atari]>=0.21.0,<0.22.0; python_version >= '3.7'
gym[atari]==0.19.0; python_version < '3.7'
# Kaggle envs.
kaggle_environments==1.7.11
# Unity3D testing
#TODO(sven): Add this back to requirements_rllib.txt once mlagents no longer pins torch<1.9.0 version.
#mlagents==0.28.0
mlagents_envs==0.28.0
# For tests on PettingZoo's multi-agent envs.
pettingzoo==1.15.0; python_version >= '3.7'
pymunk==6.0.0
supersuit==3.3.3; python_version >= '3.7'
# For testing in MuJoCo-like envs (in PyBullet).
pybullet==3.2.0
# For tests on RecSim and Kaggle envs.
recsim==0.2.4
tensorflow_estimator==2.6.0
# DeepMind's OpenSpiel
open-spiel==1.0.2

# Other.
# ------
# For MAML on PyTorch.
higher==0.2.1
# For auto-generating an env-rendering Window.
pyglet==1.5.15
imageio-ffmpeg==0.4.5
# Ray Serve example
starlette==0.16.0
# ONNX
onnx==1.9.0
onnxruntime==1.9.0
tf2onnx==1.8.5
