-r requirements_dl.txt

mlflow==1.21.0
tensorboardX==2.4.1

# Dependencies for Hugging Face examples:
# `python/ray/train/examples/transformers/transformers_example.py`
transformers==4.10.0
accelerate==0.5.1
datasets==1.14.0
sentencepiece==0.1.96
