-r requirements_dl.txt

aim==3.16.1
ax-platform==0.1.9; python_version < '3.7'
ax-platform==0.2.6; python_version == '3.7'
ax-platform==0.3.1; python_version >= '3.8'
bayesian-optimization==1.2.0
comet-ml==3.31.9
ConfigSpace==0.4.18
dragonfly-opt==0.1.6
flaml==1.1.1
freezegun==1.1.0
# Requires decord which is unavailable for arm64
gluoncv==0.10.5.post0; platform_machine != "arm64"
gpy==1.10.0
# Requires libtorrent which is unavailable for arm64
autorom[accept-rom-license]; platform_machine != "arm64"
h5py==3.7.0
hpbandster==0.7.4
HEBO==0.3.2
hyperopt==0.2.5
jupyterlab==3.6.1
lightgbm==3.3.5
matplotlib!=3.4.3
mlflow==1.30.0; python_version <= '3.7'
mlflow==2.2.2; python_version > '3.7'
# Unavailable for arm64 in more recent versions
mxnet==1.8.0.post0; platform_machine != "arm64"
nevergrad==0.4.3.post7
optuna==2.10.0
# For HEBO compatibility
pymoo==0.5.0
pytest-remotedata==0.3.2
lightning-bolts==0.4.0
pytorch-lightning==1.6.5
fairscale==0.4.6
s3fs==2023.1.0
shortuuid==1.0.1
scikit-optimize==0.9.0
sigopt==7.5.0
timm==0.4.5
transformers==4.18.0; python_version <= '3.6'
transformers==4.19.1; python_version > '3.6'
# Used by ax-platform for type checking.
# Since we pin ax-platform at an earlier version,
# we need to pin this as well to prevent incompatible
# more recent versions from being used.
# ax-platform was updated for py3.8+, which is incompatible
# with this pin, so we restrict the version here to <=3.7
typeguard==2.13.0; python_version <= '3.7'
wandb==0.13.4
xgboost==1.3.3
zoopt==0.4.1
