# These requirements are used for the CI and CPU-only Docker images so we install CPU only versions of torch.
# For GPU Docker images, you should install requirements_ml_docker.txt afterwards.

tensorflow==2.6.2
tensorflow-probability==0.14.1

# If you make changes to the torch versions below, please also make the corresponding changes to `requirements_ml_docker.txt`!

torch==1.9.0;sys_platform=="darwin"
torchvision==0.10.0;sys_platform=="darwin"

# On non-OSX machines only install CPU version of torch and torchvision
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cpu;sys_platform!="darwin"
torchvision==0.10.0+cpu;sys_platform!="darwin"

# If you make changes to the torch or tensorflow versions update, please also make the corresponding changes to `jax` related packages!
# If you make changes to the jax versions, please also make the corresponding changes to `requirements_ml_docker.txt`!
jax[cpu]==0.2.17;sys_platform == 'linux' and python_version > '3.6'
jax[cpu]==0.2.14;sys_platform == 'linux' and python_version <= '3.6'
flax==0.3.5;sys_platform == 'linux' 
einops==0.4.1;sys_platform == 'linux' 