-r requirements_dl.txt

# Environment adapters.
# ---------------------
# Atari
# TODO(sven): Still needed for Atari (need to be wrapped by gymnasium as it does NOT support Atari yet)
gym==0.26.2
gymnasium[atari,mujoco]==0.26.3
# For testing MuJoCo envs with gymnasium.
mujoco-py<2.2,>=2.1
# Kaggle envs.
kaggle_environments==1.7.11
# Unity3D testing
# TODO(sven): Add this back to requirements_rllib.txt once mlagents no longer pins torch<1.9.0 version.
#mlagents==0.28.0
mlagents_envs==0.28.0
# For tests on PettingZoo's multi-agent envs.
pettingzoo==1.22.1; python_version >= '3.7'
# When installing pettingzoo, chess is missing, even though its a dependancy
# TODO: remove if a future pettingzoo and/or ray version fixes this dependancy issue
chess==1.7.0
pymunk==6.2.1
supersuit==3.7.0; python_version >= '3.7'
# For tests on minigrid.
minigrid==2.1.1
# For tests on RecSim and Kaggle envs.
# Explicitly depends on `tensorflow` and doesn't accept `tensorflow-macos`
recsim==0.2.4; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow_estimator==2.11.0
# DeepMind's OpenSpiel
open-spiel==1.2

# Other.
# ------
# For MAML on PyTorch.
higher==0.2.1
# For auto-generating an env-rendering Window.
pyglet==1.5.15
imageio-ffmpeg==0.4.5
# ONNX
# ONNX 1.13.0 depends on protobuf > 3.20, conflicting with tensorflow.
# ONNX 1.12.0 is not published for mac arm64, so we exclude it for now.
onnx==1.12.0; sys_platform != 'darwin' or platform_machine != 'arm64'
onnxruntime==1.14.1; sys_platform != 'darwin' or platform_machine != 'arm64'
tf2onnx==1.13.0; sys_platform != 'darwin' or platform_machine != 'arm64'
rich==12.0.1
# Msgpack checkpoint stuff.
msgpack
msgpack_numpy
