# Note: these requirements are only used for the purpose of testing the jax
# backend. They are not used for the docker images.
# Reference: `ray/.buildkite/pipeline.gpu.large.yml`

tensorflow==2.9.1; python_version >= '3.7'
flax==0.5.3
einops==0.4.1
tensorflow_datasets==4.6.0

# Jax
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_cudnn805]==0.3.15;sys_platform == 'linux'