# These requirements are used for the CI and CPU-only Docker images so we install CPU only versions of torch.
# For GPU Docker images, you should install requirements_ml_docker.txt afterwards.

tensorflow==2.11.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.11.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-probability==0.19.0

# If you make changes below this line, please also make the corresponding changes to `requirements_ml_docker.txt`
# and to `install-dependencies.sh`!

--extra-index-url https://download.pytorch.org/whl/cpu  # for CPU versions of torch, torchvision
--find-links https://data.pyg.org/whl/torch-1.13.0+cpu.html  # for CPU versions of torch-scatter, torch-sparse, torch-cluster, torch-spline-conv
torch==1.13.0
torchvision==0.14.0
torch-scatter==2.1.0
torch-sparse==0.6.16
torch-cluster==1.6.0
torch-spline-conv==1.2.1
torch-geometric==2.1.0
