# ML libraries
torch==1.7.0
tensorflow==2.6.0
keras==2.6.0

# Torch addons
torchmetrics==0.7.3
torchvision==0.8.1

pytorch-fast-transformers==0.4.0
pytorch-lightning==1.5.8

# Upstream libraries
lightgbm_ray==0.1.5
xgboost_ray==0.1.10