-r requirements_dl.txt

ax-platform==0.1.9; python_version < '3.7'
ax-platform==0.2.4; python_version >= '3.7'
bayesian-optimization==1.2.0
comet-ml==3.31.9
ConfigSpace==0.4.18
dragonfly-opt==0.1.6
flaml==0.9.7
freezegun==1.1.0
gluoncv==0.10.1.post0
gpy==1.10.0
autorom[accept-rom-license]
h5py==3.7.0
hpbandster==0.7.4
HEBO==0.3.2
hyperopt==0.2.5
jupyter==1.0.0
lightgbm==3.2.1
matplotlib!=3.4.3
mlflow==1.21.0
mxnet==1.8.0.post0
nevergrad==0.4.3.post7
optuna==2.10.0
# For HEBO compatibility
pymoo==0.5.0
pytest-remotedata==0.3.2
lightning-bolts==0.4.0
protobuf==3.20.1
pytorch-lightning==1.6.5
shortuuid==1.0.1
scikit-optimize==0.9.0
sigopt==7.5.0
timm==0.4.5
transformers==4.18.0; python_version <= '3.6'
transformers==4.19.1; python_version > '3.6'
wandb==0.13.4
xgboost==1.3.3
zoopt==0.4.1
