-r requirements_dl.txt

# Environment adapters.
# ---------------------
# Atari
# TODO(sven): Still needed for Atari (need to be wrapped by gymnasium as it does NOT support Atari yet)
gym==0.26.2
gymnasium[atari,mujoco]==0.26.3
# For testing MuJoCo envs with gymnasium.
mujoco-py<2.2,>=2.1
# Kaggle envs.
kaggle_environments==1.7.11
# Unity3D testing
# TODO(sven): Add this back to requirements_rllib.txt once mlagents no longer pins torch<1.9.0 version.
#mlagents==0.28.0
mlagents_envs==0.28.0
# For tests on PettingZoo's multi-agent envs.
pettingzoo==1.22.1; python_version >= '3.7'
pymunk==6.2.1
supersuit==3.7.0; python_version >= '3.7'
# For tests on minigrid.
minigrid==2.1.0
# For tests on RecSim and Kaggle envs.
recsim==0.2.4
tensorflow_estimator==2.10.1
# DeepMind's OpenSpiel
open-spiel==1.2

# Other.
# ------
# For MAML on PyTorch.
higher==0.2.1
# For auto-generating an env-rendering Window.
pyglet==1.5.15
imageio-ffmpeg==0.4.5
# ONNX
onnx==1.12.0
onnxruntime==1.12.0
tf2onnx==1.12.1
typer==0.6.1
rich==12.0.1
