# Upstream dependencies that depend on Ray.
# Because they depend on Ray, we can't pin the subdependencies.
# So we separate its own requirements file.

ray_lightning==0.2.0
tune-sklearn==0.4.1
xgboost_ray==0.1.4
lightgbm_ray==0.0.2
modin>=0.11.0; python_version >= '3.7'
