# TODO(train-team): Remove this once Ray Train is deprecated.

-r requirements_dl.txt

mlflow==1.30.0; python_version <= '3.7'
mlflow==2.2.2; python_version > '3.7'
tensorboardX==2.4.1

# Dependencies for Hugging Face examples & tests:
# `python/ray/train/examples/transformers/transformers_example.py`
# `python/ray/air/examples/huggingface/huggingface_basic_language_modeling_example.py`
# `python/ray/train/tests/test_accelerate_trainer_gpu.py`
# `python/ray/air/tests/test_huggingface_trainer.py`

# We need transformers>=4.19.0 for HuggingFaceTrainer to work (not available on py 3.6)
# If changing the version here, also change it in HuggingFaceTrainer docstring
transformers==4.18.0; python_version <= '3.6'
transformers==4.19.1; python_version > '3.6'
# We need accelerate>=0.17.0 for AccelerateTrainer to work (not available on py 3.6)
# If changing the version here, also change it in AccelerateTrainer docstring
accelerate==0.5.1; python_version <= '3.6'
accelerate==0.17.1; python_version > '3.6'
# Tracking issue: https://github.com/ray-project/ray/issues/34399
deepspeed==0.8.3; python_version > '3.6'
datasets==2.0.0
sentencepiece==0.1.96
