# TODO(train-team): Remove this once Ray Train is deprecated.

-r requirements_dl.txt

mlflow==1.21.0
tensorboardX==2.4.1

# Dependencies for Hugging Face examples & tests:
# `python/ray/train/examples/transformers/transformers_example.py`
# `python/ray/ml/examples/huggingface/huggingface_basic_language_modeling_example.py`
# `python/ray/ml/tests/test_huggingface_trainer.py`
transformers==4.18.0
accelerate==0.5.1
datasets==2.0.0
sentencepiece==0.1.96
