ipython

# Needed for Ray Client error message serialization/deserialization.
tblib

# If you make changes to the torch versions, please also make the corresponding changes to `requirements_dl.txt`!
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.12.1+cu116
torchvision==0.13.1+cu116

-f https://data.pyg.org/whl/torch-1.12.1+cu116.html
torch-scatter==2.0.9
torch-sparse==0.6.15

# torch-geometric has to be installed after torch-scatter and torch-sparse.
torch-geometric==2.0.3; python_version < '3.7'
torch-geometric==2.0.4; python_version >= '3.7'
