# For auto-generating an env-rendering Window.
pyglet==1.5.15
imageio-ffmpeg==0.4.5
onnx==1.15.0; sys_platform != 'darwin' or platform_machine != 'arm64'
onnxruntime==1.18.0; sys_platform != 'darwin' or platform_machine != 'arm64'
rich==13.3.2
# Msgpack checkpoint stuff.
msgpack
msgpack-numpy
ormsgpack
