# For MAML on PyTorch.
higher==0.2.1
# For auto-generating an env-rendering Window.
pyglet==1.5.15
imageio-ffmpeg==0.4.5
onnx==1.15.0; sys_platform != 'darwin' or platform_machine != 'arm64'
onnxruntime==1.18.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tf2onnx==1.15.1; sys_platform != 'darwin' or platform_machine != 'arm64'
rich==12.6.0
# Msgpack checkpoint stuff.
msgpack
msgpack_numpy