-r dl-cpu-requirements.txt

aim==4.0.3

gpy==1.10.0; python_version <= '3.9'

jupyterlab==4.1.5
matplotlib!=3.4.3

pytest-remotedata==0.4.1
pytorch-lightning
fairscale==0.4.13
shortuuid==1.0.13
timm==0.9.16

zoopt==0.4.2

# timeseries lib
statsforecast==1.7.3
prophet==1.1.5
holidays==0.45