-r dl-cpu-requirements.txt

aim==3.17.5

# Requires decord which is unavailable for arm64
gluoncv==0.10.5.post0; platform_machine != "arm64"
gpy==1.10.0

jupyterlab==3.6.1
matplotlib!=3.4.3

# Unavailable for arm64 in more recent versions
mxnet==1.8.0.post0; platform_machine != "arm64"
pytest-remotedata==0.3.2
lightning-bolts==0.4.0
pytorch-lightning==1.6.5
fairscale==0.4.6
shortuuid==1.0.1
scikit-optimize==0.9.0
timm==0.9.2

sigopt==7.5.0
zoopt==0.4.1
