# Searchers
ax-platform[mysql]==0.3.2

bayesian-optimization==1.4.3

# BOHB
ConfigSpace==0.7.1
hpbandster==0.7.4

hyperopt==0.2.7
nevergrad==0.4.3.post7
optuna==3.2.0

tune-sklearn==0.4.6; python_version < "3.12"
