gym[atari]
opencv-python-headless
tensorflow
lz4
keras
smart_open
tensorflow_probability
h5py
bayesian-optimization
hyperopt==0.1.2
ConfigSpace==0.4.10
sigopt
nevergrad 
scikit-optimize 
hpbandster 
lightgbm 
xgboost 
torch 
torchvision 
tensorboardX
tabulate
mlflow
kubernetes
boto3
ipython