* { font-family: sans-serif; margin: 0; padding: 0; }
h1, h2 { text-align: center; margin: 1rem 0; }
h1 { font-size: 3rem; margin: 0.5rem auto; text-align: center; }
h2 { font-size: 2rem; margin: 0.3rem auto; text-align: center; }
div#dashboard {
    width: 80rem; margin: 1rem auto; border-radius: 1rem;
}

pre, li, h2.totals { font-family: monospace; }

h3, h4, h5 { text-align: center; }
h3 { margin: 1rem 0; font-size: 2.3rem; }

tr {
    cursor: pointer;
}
tr.workerlist td, tr.workerlist th {
    height: 0.5rem;
    font-size: 0.7rem;
    padding: 0.3rem;
}
tr:hover {
    filter: brightness(0.85);
}
td, th {
    border: 0.2rem solid white;
    padding: 0.3rem;
    font-size: 1rem;
    font-family: monospace;
    text-align: center;
    background-color: white;
}

.ip { width: 7rem; font-weight: bold; }
.uptime { width: 8rem; }
.workers { width: 12rem; }
.mem { width: 14rem; }
.storage { width: 14rem; }
.load { width: 20rem; }

.critical { background-color: magenta; }
.bad { background-color: red; }
.high { background-color: orange; }
.average { background-color: limegreen; }
.low { background-color: aquamarine; }
