# Searchers
ax-platform[mysql]==0.2.6; python_version < '3.8'
ax-platform[mysql]==0.3.2; python_version >= '3.8'

bayesian-optimization==1.4.3

# BOHB
ConfigSpace==0.7.1
hpbandster==0.7.4

dragonfly-opt==0.1.7
flaml==1.1.1
HEBO==0.3.2
# pymoo pin for HEBO compatibility
pymoo==0.5.0
hyperopt==0.2.7
nevergrad==0.4.3.post7
optuna==3.2.0

tune-sklearn==0.4.4
