google-api-python-client
google-cloud-compute
google-cloud-filestore
google-cloud-redis
google-cloud-resource-manager
google-cloud-secret-manager
google-cloud-storage
google-cloud-storage
grpcio
grpcio-status<1.49; python_version < '3.11'
ipywidgets
jupyterlab
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pyopenssl
pyyaml
terminado==0.10.1
tornado
