jupyterlab==3.6.1
ipywidgets
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
google-cloud-storage
grpcio>=1.66.1
grpcio-tools
pyyaml
pyopenssl
certifi
pycurl

# Anyscale CLI requirements
boto3>=1.26.76
botocore>=1.19.52
aiohttp>=3.7.4.post0
certifi>=2024.8.30
Click>=7.0
colorama
GitPython
google-auth
jsonpatch
jsonschema
oauth2client
packaging
pathspec>=0.8.1
python-dateutil
requests
rich
six>=1.10
tabulate
urllib3>=1.26.17
wrapt
pyyaml
smart_open
halo
tqdm
tzlocal
humanize
