clang-format==12.0.1
docutils
mypy==1.7.0
mypy-extensions==1.0.0
types-PyYAML==6.0.12.2
black==22.10.0
isort==5.13.2
semgrep==1.32.0
shellcheck-py==0.7.1.1
yq
types-pycurl==7.45.3.20240421
types-requests==2.31.0.6

# Python 3.8 dependencies
flake8==3.9.1; python_version <= '3.8'
flake8-comprehensions==3.10.1; python_version <= '3.8'
flake8-quotes==2.0.0; python_version <= '3.8'
flake8-bugbear==21.9.2; python_version <= '3.8'
mccabe==0.6.1; python_version <= '3.8'
pyflakes==2.3.1; python_version <= '3.8'