clang-format==18.1.2
docutils
flake8==7.0.0
flake8-comprehensions==3.14.0
flake8-quotes==3.4.0
flake8-bugbear==24.2.6
mypy==1.9.0
types-PyYAML==6.0.12.20240311
black==24.3.0
isort==5.13.2
semgrep==1.66.1
shellcheck-py==0.10.0.1
yq
