# only for testing
pytest==7.0.1
werkzeug==2.3.4
pytest-asyncio==0.16.0
pytest-httpserver==1.0.6
pytest-rerunfailures==11.1.2
pytest-sugar==0.9.5
pytest-lazy-fixture==0.6.3
pytest-timeout==2.1.0
mypy==1.7.0
asyncmock==0.4.2
joblib==1.2.0
fastapi==0.95.1
pandas==2.0.1
pyarrow==11.0.0
psutil==5.9.5
python-snappy
Pillow==9.5.0
uvicorn==0.22.0
requests==2.26.0
starlette==0.26.1
aiorwlock==1.3.0
pydantic==2.9.2
trustme==0.9.0
bytedance.metrics==0.4.0
numba==0.60.0
memray==1.10.0
watchfiles==0.19.0
gradio==3.11
httpx==0.28.1
websockets==11.0.3