name: "oss-ci-base_gpu-py$PYTHON"
froms: ["nvidia/cuda:11.8.0-cudnn8-devel-ubuntu20.04"]
dockerfile: ci/docker/base.gpu.Dockerfile
srcs:
  - .bazelrc
  - .bazelversion
  - ci/env/install-dependencies.sh
  - ci/env/install-llvm-binaries.sh
  - ci/env/install-bazel.sh
  - ci/env/install-miniforge.sh
  - ci/suppress_output
build_args:
  - BUILDKITE_BAZEL_CACHE_URL
  - PYTHON
tags:
  - cr.ray.io/rayproject/oss-ci-base_gpu-py$PYTHON
