name: "$IMAGE_TO"
froms: ["$IMAGE_FROM"]
dockerfile: ci/docker/llm.build.Dockerfile
srcs:
  - ci/env/install-dependencies.sh
  - ci/env/install-llvm-binaries.sh
  - ci/suppress_output
  - python/requirements_compiled_rayllm_test_py311_cpu.txt
  - python/requirements_compiled_rayllm_test_py311_cu128.txt
tags:
  - cr.ray.io/rayproject/$IMAGE_TO
build_args:
  - DOCKER_IMAGE_BASE_BUILD=$IMAGE_FROM
  - RAY_CUDA_CODE=$RAY_CUDA_CODE
