name: "manylinux-$HOSTTYPE"
froms:
  - rayproject/manylinux2014:$MANYLINUX_VERSION-jdk-$HOSTTYPE
build_args:
  - BUILDKITE_BAZEL_CACHE_URL
  - MANYLINUX_VERSION=251216.3835fc5
  - HOSTTYPE
dockerfile: ci/docker/manylinux-retag.Dockerfile
