name: "manylinux-aarch64"
froms:
  - quay.io/pypa/manylinux2014_aarch64:2024-07-01-8dac23b
srcs:
  - ci/build/build-manylinux-forge.sh
build_args:
  - BUILDKITE_BAZEL_CACHE_URL
  - HOSTTYPE=aarch64
dockerfile: ci/docker/manylinux.Dockerfile
