# Ray Anyscale CPU Image (for release tests)
# Installs ray wheel into the CPU base-extra-testdeps image, which includes
# additional test dependencies.
#
# This produces the anyscale test image for CPU-only release tests.
#
name: "ray-anyscale-py$PYTHON_VERSION-cpu$ARCH_SUFFIX"
disable_caching: true
froms:
  - "cr.ray.io/rayproject/ray-py$PYTHON_VERSION-cpu-base-extra-testdeps"  # CPU base with test deps
  - "cr.ray.io/rayproject/ray-wheel-py$PYTHON_VERSION$ARCH_SUFFIX"        # Ray wheel
dockerfile: ci/docker/ray-image.Dockerfile
build_args:
  - PYTHON_VERSION
  - ARCH_SUFFIX
  - IMAGE_TYPE=ray
  - PLATFORM=cpu
  - BASE_VARIANT=base-extra-testdeps
  - RAY_COMMIT=$BUILDKITE_COMMIT
  - RAY_VERSION
