# Ray CPU Image
# Installs ray wheel into the CPU base image
#
# This produces the final rayproject/ray image for CPU-only deployments.
#
name: "ray-py$PYTHON_VERSION-cpu$ARCH_SUFFIX"
disable_caching: true
froms:
  - "cr.ray.io/rayproject/ray-py$PYTHON_VERSION-cpu-base$ARCH_SUFFIX"  # CPU base image with Python + deps
  - "cr.ray.io/rayproject/ray-wheel-py$PYTHON_VERSION$ARCH_SUFFIX"     # Ray wheel
dockerfile: ci/docker/ray-image.Dockerfile
srcs:
  - python/requirements_compiled.txt
build_args:
  - PYTHON_VERSION
  - ARCH_SUFFIX
  - BASE_IMAGE=cr.ray.io/rayproject/ray-py$PYTHON_VERSION-cpu-base$ARCH_SUFFIX
  - RAY_WHEEL_IMAGE=cr.ray.io/rayproject/ray-wheel-py$PYTHON_VERSION$ARCH_SUFFIX
