# This is a clone and python3.9 version of ci/docker/serve.build.wanda.yaml. The latter
# one is a multi-py version. This file exists due to the historical reason that Ray
# CI only supports one python version which is python 3.9.
#
# TODO(can-anyscale): migrate all jobs to use the multi-py version

name: "servebuild"
froms: ["cr.ray.io/rayproject/oss-ci-base_build"]
dockerfile: ci/docker/serve.build.Dockerfile
srcs:
  - python/requirements.txt
  - python/requirements_compiled.txt
  - python/requirements/test-requirements.txt
tags:
  - cr.ray.io/rayproject/servebuild
