cloud_id: {{ env["ANYSCALE_CLOUD_ID"] }}

region: us-west1
allowed_azs:
    - us-west1-b

# 4 n1-standard-16-nvidia-tesla-t4-1 nodes --> 64 CPUs, 4 GPUs
head_node_type:
  name: head_node_type
  instance_type: n1-standard-16-nvidia-tesla-t4-1

worker_node_types:
- name: gpu_worker
  instance_type: n1-standard-16-nvidia-tesla-t4-1
  min_workers: 3
  max_workers: 3
  use_spot: false
