<div class='rayContent jp-RenderedHTMLCommon'>
  {{ content }}
</div>
<style>
  .rayContent table {
    width: 100%;
  }
  .rayContent table td {
    text-align: left !important;
  }
  .rayContent table th {
    text-align: left !important;
  }
</style>
