<div class='configArea'>
  <h3>{{ title }}</h3>
  {{ data }}
</div>
<style>
    .configArea h3 {
        border-bottom-width: var(--jp-border-width);
        border-bottom-color: var(--jp-border-color0);
        border-bottom-style: solid;
    }
</style>
