# Make sure the driver versions are the same as cluster versions.
# The cluster uses ray-ml Docker image.
# ray-ml Docker image installs dependencies from ray/python/requirements/ml/ directory.
# We constrain on these requirements file so that the same versions are installed.
-c ../../../python/requirements/ml/requirements_dl.txt

tensorflow
torch
# Need this library to unpickle errors
tblib