base_image: "anyscale/ray-ml:pinned-nightly-py37-gpu"
env_vars: {}
debian_packages:
  - curl

python:
  pip_packages:
    - pytest
    - awscli
  conda_packages: []

post_build_cmds:
  - pip uninstall -y numpy ray || true
  - sudo rm -rf /home/ray/anaconda3/lib/python3.7/site-packages/numpy
  - pip3 install numpy || true
  - pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
