colorama
click
filelock
flatbuffers
funcsigs
jsonschema
mock
numpy
opencv-python-headless
pyarrow
pyyaml
recommonmark
redis
setproctitle
sphinx
sphinx-click
sphinx-gallery
sphinx-jsonschema
sphinx_rtd_theme
tabulate
pandas
flask
uvicorn
pygments
werkzeug
blist