click
colorama
colorful
filelock
flask
flatbuffers
fastapi
jsonschema
mock
numpy
scikit-image
pandas
pickle5
pillow
pyarrow
pydantic
pygments
pyyaml
recommonmark
redis
sphinx==3.0.4
sphinx-click
sphinx-copybutton
sphinxemoji
sphinx-gallery
sphinx-jsonschema
sphinx-tabs
sphinx-version-warning
sphinx-book-theme==0.0.42
sphinxcontrib.yt
starlette
tabulate
uvicorn==0.16.0
werkzeug
git+https://github.com/ray-project/tune-sklearn@master#tune-sklearn
git+https://github.com/ray-project/xgboost_ray@master#egg=xgboost_ray
git+https://github.com/ray-project/lightgbm_ray@main#lightgbm_ray
git+https://github.com/ray-project/ray_lightning#ray_lightning
scikit-optimize
sphinx-sitemap==2.2.0
myst-parser
