<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RAY suite" verbose="2">
    <test name = "RAY test">
        <classes>
            <class name="org.ray.api.test.MultiThreadingTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.ray.api.TestProgressListener" />
    </listeners>
</suite>
