<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RAY suite" verbose="2">
    <test name = "RAY test">
        <classes>
            <class name = "io.ray.test.ExitActorTest" />
            <class name = "io.ray.test.MultiDriverTest" />
            <class name = "io.ray.test.PlacementGroupTest" />
        </classes>
    </test>
    <listeners>
        <listener class-name="io.ray.test.RayAlterSuiteListener" />
        <listener class-name="io.ray.test.TestProgressListener" />
        <listener class-name="io.ray.test.AnnotationTransformer" />
    </listeners>
</suite>
