aiobotocore==2.5.4
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aioitertools==0.12.0
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
botocore==1.31.17
fastjsonschema==2.21.1
filelock==3.18.0
frozenlist==1.7.0
fsspec==2023.5.0
idna==3.10
jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-core==5.8.1
markupsafe==3.0.2
mpmath==1.3.0
multidict==6.4.4
nbformat==5.9.2
networkx==3.4.2
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
pandas==2.3.0
platformdirs==4.3.8
propcache==0.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.1
referencing==0.36.2
rpds-py==0.25.1
s3fs==2023.5.0
scikit-learn==1.5.1
scipy==1.15.3
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.3.0
traitlets==5.14.3
triton==2.3.0
typing-extensions==4.14.0
tzdata==2025.2
urllib3==1.26.20
wrapt==1.17.2
yarl==1.20.1
