build_arg_sets:
  py310:
    PYTHON_VERSION: "3.10"
    PYTHON_SHORT: "310"
  py312:
    PYTHON_VERSION: "3.12"
    PYTHON_SHORT: "312"

depsets:
  - name: data_ci_depset_${PYTHON_SHORT}
    operation: expand
    depsets:
      - ray_img_depset_${PYTHON_SHORT}
    requirements:
      - python/requirements/ml/data-requirements.txt
      - python/requirements/ml/data-test-requirements.txt
      - python/requirements/data/data-base.txt
    constraints:
      - /tmp/ray-deps/requirements_compiled_py3.13.txt
    output: python/deplocks/ci/data_base_ci_depset_py${PYTHON_VERSION}.lock
    append_flags:
      - --extra-index-url https://download.pytorch.org/whl/cpu
      - --python-version=${PYTHON_VERSION}
      - --python-platform=linux
      - --unsafe-package ray
    build_arg_sets:
      - py310
      - py312
# latest arrow version 20.*
