build_arg_sets:
  py310:
    PYTHON_VERSION: "3.10"
    PYTHON_SHORT: "310"
  py312:
    PYTHON_VERSION: "3.12"
    PYTHON_SHORT: "312"

depsets:
  - name: rllib_build_depset_${PYTHON_SHORT}
    operation: expand
    depsets:
      - ray_img_depset_${PYTHON_SHORT}
    requirements:
      - python/requirements/ml/core-requirements.txt
      - python/requirements/ml/dl-cpu-requirements.txt
      - python/requirements/ml/dl-gpu-requirements.txt
      - python/requirements/ml/rllib-requirements.txt
      - python/requirements/ml/rllib-test-requirements.txt
    constraints:
      - /tmp/ray-deps/requirements_compiled_py3.13.txt
    output: python/deplocks/ci/rllib-build-ci_depset_py${PYTHON_VERSION}.lock
    append_flags:
      - --index https://download.pytorch.org/whl/cpu
      - --python-version=${PYTHON_VERSION}
      - --python-platform=linux
      - --unsafe-package ray
    build_arg_sets:
      - py310
      - py312

  - name: rllib_gpubuild_depset_${PYTHON_SHORT}
    operation: expand
    depsets:
      - ray_img_depset_${PYTHON_SHORT}
    requirements:
      - python/requirements/ml/core-requirements.txt
      - python/requirements/ml/dl-cpu-requirements.txt
      - python/requirements/ml/dl-gpu-requirements.txt
      - python/requirements/ml/rllib-requirements.txt
      - python/requirements/ml/rllib-test-requirements.txt
    constraints:
      - /tmp/ray-deps/requirements_compiled_py3.13.txt
    output: python/deplocks/ci/rllib-gpubuild-ci_depset_py${PYTHON_VERSION}.lock
    append_flags:
      - --index https://download.pytorch.org/whl/cu128
      - --python-version=${PYTHON_VERSION}
      - --python-platform=linux
      - --unsafe-package ray
    build_arg_sets:
      - py310
      - py312
