build_arg_sets:
  cu128:
    PYTHON_VERSION: py311
    CUDA_CODE: cu128


.common_settings: &common_settings
  append_flags:
    - --python-version=3.11
    - --unsafe-package ray
    # vLLM pre-built wheels require manylinux_2_31
    - --python-platform=x86_64-manylinux_2_31
    - --extra-index-url https://download.pytorch.org/whl/${CUDA_CODE}
    # TODO: Remove --find-links when vLLM 0.13.0 is on PyPI.
    # Using pre-built wheels from vLLM's wheel index for v0.13.0rc1 commit
    # to avoid building from source (which fails due to torch version mismatch).
    - --find-links https://wheels.vllm.ai/7d80c73d4277187d0468f15a22bba959ce853261/cu129/vllm/
  build_arg_sets:
    - cu128

depsets:
  - name: subset_rayllm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    operation: subset
    source_depset: compiled_ray_llm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    <<: *common_settings
    requirements:
      - python/requirements.txt
    output: python/deplocks/llm/rayllm_subset_${PYTHON_VERSION}_${CUDA_CODE}.lock

  - name: llm_batch_single_node_benchmark_${PYTHON_VERSION}_${CUDA_CODE}
    operation: expand
    depsets:
      - subset_rayllm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    <<: *common_settings
    requirements:
      - release/llm_tests/batch/requirements.in
    output: release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_${PYTHON_VERSION}_${CUDA_CODE}.lock
