build_arg_sets:
  cu128:
    PYTHON_VERSION: py311
    CUDA_CODE: cu128


.common_settings: &common_settings
  append_flags:
    - --python-version=3.11
    - --unsafe-package ray
    - --python-platform=x86_64-manylinux_2_28
    - --extra-index-url https://download.pytorch.org/whl/${CUDA_CODE}
    # TODO: Remove --no-build-isolation-package when vLLM is back on PyPI.
    # vLLM's build-system.requires specifies torch==2.9.0, but the CPU index
    # only has torch==2.9.0+cpu. Disable build isolation so uv doesn't try
    # to resolve vLLM's build deps from the CPU index.
    - --no-build-isolation-package vllm
  build_arg_sets:
    - cu128

depsets:
  - name: subset_rayllm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    operation: subset
    source_depset: compiled_ray_llm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    <<: *common_settings
    requirements:
      - python/requirements.txt
    output: python/deplocks/llm/rayllm_subset_${PYTHON_VERSION}_${CUDA_CODE}.lock

  - name: llm_batch_single_node_benchmark_${PYTHON_VERSION}_${CUDA_CODE}
    operation: expand
    depsets:
      - subset_rayllm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    <<: *common_settings
    requirements:
      - release/llm_tests/batch/requirements.in
    output: release/ray_release/byod/llm_batch/llm_batch_single_node_benchmark_${PYTHON_VERSION}_${CUDA_CODE}.lock
