build_arg_sets:
  cu128:
    PYTHON_VERSION: py311
    CUDA_CODE: cu128


.common_settings: &common_settings
  append_flags:
    - --python-version=3.11
    - --unsafe-package ray
    - --python-platform=linux
    - --extra-index-url https://download.pytorch.org/whl/${CUDA_CODE}
  build_arg_sets:
    - cu128

depsets:
  - name: llm_batch_${PYTHON_VERSION}_${CUDA_CODE}
    operation: expand
    depsets:
      - compiled_ray_llm_depset_${PYTHON_VERSION}_${CUDA_CODE}
    <<: *common_settings
    requirements:
      - release/llm_tests/batch/requirements.in
    constraints:
      - python/deplocks/llm/rayllm_${PYTHON_VERSION}_${CUDA_CODE}.lock
    output: release/ray_release/byod/llm_batch/llm_batch_${PYTHON_VERSION}_${CUDA_CODE}.lock
    pre_hooks:
      - ci/raydepsets/pre_hooks/remove-compiled-headers.sh
