build_arg_sets:
  py311:
    PYTHON_VERSION: "3.11"
    PYTHON_SHORT: "311"


depsets:
  - name: e2e_xgboost_ray_depset_py${PYTHON_VERSION}
    operation: expand
    depsets:
      - ray_img_depset_${PYTHON_SHORT}
    requirements:
      - doc/source/ray-overview/examples/e2e-xgboost/requirements.txt
    output: release/ray_release/byod/e2e_xgboost_py${PYTHON_VERSION}.lock
    append_flags:
      - --python-version=${PYTHON_VERSION}
      - --unsafe-package ray
      - --python-platform=linux
    build_arg_sets:
      - py311
