base_image: "anyscale/ray-ml:nightly-py37-gpu"
env_vars: {}
debian_packages:
  - curl

python:
  pip_packages:
    - pytest
    - awscli
    - gsutil
    - gym==0.21.0
  conda_packages: []

post_build_cmds:
  - pip uninstall -y ray || true
  # Install Ray
  - pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
  - {{ env["RAY_WHEELS_SANITY_CHECK"] | default("echo No Ray wheels sanity check") }}
