base_image: {{ env["RAY_IMAGE_NIGHTLY_CPU"] | default("anyscale/ray:nightly-py37") }}
env_vars: {"RAY_memory_usage_threshold_fraction": "0.9", "RAY_memory_monitor_interval_ms": "500"}
debian_packages:
  - curl

python:
  pip_packages:
    - pytest
    - awscli
    - gsutil
    - gym>=0.21.0,<0.24.1
    - gcsfs
    - pyarrow>=6.0.1,<7.0.0
  conda_packages: []

post_build_cmds:
  # Install Ray
  - pip3 uninstall -y ray || true && pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
  - {{ env["RAY_WHEELS_SANITY_CHECK"] | default("echo No Ray wheels sanity check") }}
