# ML tracking integrations
comet-ml==3.44.1
mlflow>=3.0.0
wandb>=0.23.1

# ML training frameworks
xgboost==2.1.0
lightgbm==4.6.0

# Huggingface
transformers==5.0.0rc3
accelerate==0.28.0

# Cloud storage tools
s3fs==2023.12.1
