base_image: {{ env["RAY_IMAGE_NIGHTLY_CPU"] }}
env_vars: {"RLLIB_TEST_NO_JAX_IMPORT": "1"}

debian_packages:
  - curl
  - unzip

python:
  pip_packages:
    # These dependencies should be handled by rllib-requirements.txt and removed here
    - gym>=0.21.0,<0.24.1
    - ale-py==0.7.5
    - pytest
    - tensorflow
    # AutoROM downloads ROMs via torrent when they are built. The torrent is unreliable, so we built it for py3 and 
    # use that instead. This wheel was tested for python 3.7, 3.8, and 3.9.
    - https://ray-ci-deps-wheels.s3.us-west-2.amazonaws.com/AutoROM.accept_rom_license-0.5.4-py3-none-any.whl
  conda_packages: []

post_build_cmds:
  - 'rm -r wrk || true && git clone https://github.com/wg/wrk.git /tmp/wrk && cd /tmp/wrk && make -j && sudo cp wrk /usr/local/bin'
  - pip3 install pytest || true
  - pip3 install -U ray[all]
  - pip3 install ray[all]
  # TODO (Alex): Ideally we would install all the dependencies from the new
  # version too, but pip won't be able to find the new version of ray-cpp.
  - pip3 uninstall ray -y && pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
  - {{ env["RAY_WHEELS_SANITY_CHECK"] | default("echo No Ray wheels sanity check") }}
