base_image: "anyscale/ray:nightly-py37"
env_vars: {}

debian_packages:
  - curl
  - unzip

python:
  pip_packages:
    - gym[atari]==0.21.0
    - pygame
    - pytest
    - tensorflow
    - torch
  conda_packages: []

post_build_cmds:
    - 'rm -r wrk || true && git clone https://github.com/wg/wrk.git /tmp/wrk && cd /tmp/wrk && make -j && sudo cp wrk /usr/local/bin'
    - pip3 install numpy==1.19 || true
    - pip3 install pytest || true
    - pip3 install -U ray[all] gym[atari]==0.21.0 autorom[accept-rom-license]
    - pip3 install ray[all]
    # TODO (Alex): Ideally we would install all the dependencies from the new
    # version too, but pip won't be able to find the new version of ray-cpp.
    - pip3 uninstall ray -y || true
    - pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
    - {{ env["RAY_WHEELS_SANITY_CHECK"] | default("echo No Ray wheels sanity check") }}
