# Requirements to run release tests from buildkite (client dependencies will be installed separately)
# Copy anyscale pin to requirements.txt and util.py
anyscale
bazel-runfiles
boto3
click
freezegun
jinja2
pytest
pyyaml
pybuildkite
PyGithub
requests
retry

# Below are requirements only used by ray_ci
tzdata
