aiohttp
aiosignal
blist
boto3
cython==0.29.26
dataclasses; python_version < '3.7'
dm-tree==0.1.5
feather-format
flask
frozenlist
grpcio
gym
kubernetes
lxml
networkx
numba
scikit-image
openpyxl
pandas==0.24.2
Pillow
prometheus_client
py-spy
pygments
pytest==5.4.3
pytest-asyncio==0.16.0
pytest-rerunfailures
pytest-sugar
pytest-timeout
pyyaml
requests
scikit-learn==0.22.2
scipy==1.4.1
tabulate
tensorflow==2.0.1
torch
torchvision
uvicorn==0.16.0
werkzeug
xlrd
