# These are mirrored in setup.py as install_requires,
# which is what the users of the ray package will install. The rest of this file
# sets up all the packages necessary for a /developer/ of Ray.
#
# In short, if you change it here, PLEASE also change it in setup.py.

# You can obtain this list from the ray.egg-info/requires.txt

## setup.py install_requires
attrs
click>=7.0
filelock
jsonschema
msgpack<2.0.0,>=1.0.0
protobuf>= 3.15.3, != 3.19.55
pyyaml
aiosignal
frozenlist
requests
virtualenv>=20.0.24

# Python version-specific requirements
dataclasses; python_version < '3.7'
# Tracking issue: https://github.com/ray-project/ray/issues/30984
grpcio >= 1.32.0, <= 1.49.1; python_version < '3.10' and sys_platform == 'darwin'
grpcio >= 1.42.0, <= 1.49.1; python_version >= '3.10' and sys_platform == 'darwin'
grpcio >= 1.32.0; python_version < '3.10' and sys_platform != 'darwin'
grpcio >= 1.42.0; python_version >= '3.10' and sys_platform != 'darwin'
numpy>=1.16; python_version < '3.9'
numpy>=1.19.3; python_version >= '3.9'
packaging; python_version >= '3.10'
typing_extensions; python_version < '3.8'

# ray[all]
uvicorn
py-spy>=0.2.0
rich
urllib3
tabulate
scikit-image
scipy
aiohttp>=3.7
fastapi
gymnasium==0.26.3
opencensus
fsspec
dm_tree
matplotlib!=3.4.3; platform_system != "Windows"
tensorboardX>=1.9
smart_open
requests
kubernetes
colorful
lz4
# Manually parse pandas requirement
pandas>=1.0.5; python_version < '3.7'
pandas>=1.3.0; python_version >= '3.7'
aiorwlock
opentelemetry-exporter-otlp==1.1.0
starlette
typer
pyarrow >= 6.0.1; python_version >= '3.7' and platform_system != "Windows"
pyarrow >= 6.0.1, < 7.0.0; python_version < '3.7' or platform_system == "Windows"
aiohttp_cors
opentelemetry-api==1.1.0
pyyaml
gpustat>=1.0.0
pydantic; python_version < '3.11'
pydantic==1.10.2; python_version >= '3.11'
prometheus_client<0.14.0,>=0.7.1
opentelemetry-sdk==1.1.0
redis
