tensorflow-probability
gast
# Version requirement to match Tune
torch>=1.6.0
# Version requirement to match Tune
torchvision>=0.6.0
smart_open

# For testing in MuJoCo-like envs (in PyBullet).
pybullet
# For tests on PettingZoo's multi-agent envs.
pettingzoo>=1.4.0
# For tests on RecSim and Kaggle envs.
recsim
kaggle_environments
