ipython
# In TF >v2, GPU support is included in the base package.
tensorflow==2.5
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu112
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu112
