# These are mirrored in setup.py as install_requires,
# which is what the users of the ray package will install. The rest of this file
# sets up all the packages necessary for a /developer/ of Ray.
#
# In short, if you change it here, PLEASE also change it in setup.py.

# You can obtain this list from the ray.egg-info/requires.txt

## setup.py install_requires
click>=7.0
filelock
jsonschema
msgpack<2.0.0,>=1.0.0
packaging
protobuf!=3.19.5,>=3.15.3
pyyaml
aiosignal
frozenlist
requests
watchfiles

# Python version-specific requirements
grpcio == 1.54.2; sys_platform == "darwin"
grpcio >= 1.54.2; sys_platform != "darwin"
numpy>=1.16; python_version < '3.9'
numpy>=1.19.3; python_version >= '3.9'

pyarrow >= 6.0.1; platform_system != "Windows"
pyarrow >= 6.0.1, < 7.0.0; platform_system == "Windows"

# ray[all]
smart_open
lz4
numpy>=1.20
aiorwlock
opentelemetry-exporter-otlp
scipy
colorful
pyyaml
rich
opentelemetry-sdk
fastapi<=0.108.0
gymnasium==0.28.1
virtualenv!=20.21.1,>=20.0.24
opentelemetry-api
opencensus
aiohttp_cors
dm_tree
uvicorn
scikit-image
prometheus_client>=0.7.1
requests
pandas
tensorboardX<=2.6.0,>=1.9  # >=2.6.1 uses protobuf>=4, and conflicts with other packages.
aiohttp>=3.7,<3.9
starlette
typer
fsspec
pandas>=1.3
pydantic!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,<3  # Serve users can use pydantic<2
py-spy>=0.2.0
watchfiles
