# These are mirrored in setup.py as install_requires,
# which is what the users of the ray package will install. The rest of this file
# sets up all the packages necessary for a /developer/ of Ray.
#
# In short, if you change it here, PLEASE also change it in setup.py.
#
# setup.py install_requires
aiohttp==3.7
aioredis
click >= 7.0
cloudpickle
colorama
colorful
filelock
gpustat
grpcio >= 1.28.1
jsonschema
msgpack >= 1.0.0, < 2.0.0
numpy >= 1.16
opencensus
prometheus_client >= 0.7.1
protobuf >= 3.8.0
py-spy >= 0.2.0
pyyaml
redis >= 3.5.0
requests

## setup.py extras
atari_py
dm_tree
flask
gym[atari]
lz4
opencv-python-headless==4.3.0.36
pandas==1.0.5
scipy==1.4.1
tabulate
tensorboardX
uvicorn
pydantic<1.7
dataclasses; python_version < '3.7'
starlette

# Requirements for running tests
blist; platform_system != "Windows"
boto3
cython==0.29.0
dataclasses; python_version < '3.7'
dask[complete]
feather-format
gym
gym-minigrid
kubernetes
lxml
moto
mypy
networkx
numba
# higher version of llvmlite breaks windows
llvmlite==0.34.0
openpyxl
pexpect
Pillow; platform_system != "Windows"
pygments
pytest==5.4.3
pytest-asyncio
pytest-rerunfailures
pytest-sugar
pytest-timeout
scikit-learn==0.22.2
tensorflow
testfixtures
werkzeug
xlrd
starlette
smart_open[s3]
