ax-platform
bayesian-optimization
ConfigSpace==0.4.10
dragonfly-opt
gluoncv
gorilla # Need this because bug in mlflow. Should be fixed in v1.12.2
gym[atari]
GPy
h5py
hpbandster
hyperopt>=0.2.5
jupyter
keras
kubernetes
lightgbm
matplotlib
mlflow
mxnet
nevergrad
optuna
pytest-remotedata>=0.3.1
pytorch-lightning==1.0.3
pytorch-lightning-bolts
scikit-learn
scikit-optimize
sigopt
smart_open
tensorflow-probability
timm
torch>=1.6.0
torchvision>=0.6.0
# transformers
git+git://github.com/huggingface/transformers.git@bdcc4b78a27775d1ec8f3fd297cb679c257289db#transformers
git+git://github.com/ray-project/tune-sklearn@master#tune-sklearn
git+git://github.com/ray-project/xgboost_ray@master#xgboost_ray
wandb
xgboost
zoopt>=0.4.1
