# Deep learning.
# --------------
tensorflow-probability
# Version requirement to match Tune.
torch>=1.6.0
# Version requirement to match Tune.
torchvision>=0.6.0

# Environment adapters.
# ---------------------
# Atari
atari_py
gym[atari]
# Kaggle envs.
kaggle_environments
# Unity3D testing
mlagents
mlagents_envs
# For tests on PettingZoo's multi-agent envs.
pettingzoo>=1.4.0
# For testing in MuJoCo-like envs (in PyBullet).
pybullet
# For tests on RecSim and Kaggle envs.
recsim

# Other.
# ------
# For MAML on PyTorch.
higher
# For auto-generating an env-rendering Window.
pyglet
# For JSON reader/writer.
smart_open
# Ray Serve example
starlette
