# Python requirements to run release tests from anyscale byod (cpu type)

-c requirements_compiled.txt
ale-py
boto3
cmake
crc32c
cython
fastapi
gcsfs==2023.5.0
gsutil
gym
gym[atari]
importlib-metadata
jsonschema==4.17.3
lightgbm
locust==2.18.0
memray
openskill
petastorm
protobuf
pyarrow
pydantic>=2.5.0
pytest
requests>=2.31.0
semidbm
scikit-learn
scipy
tblib
terminado
tensorboardx==2.6
tensorflow
trueskill
tqdm
typer
typing-extensions==4.8.0
xarray
xgboost
wandb==0.13.4
zarr
