# Python requirements to run release tests from anyscale byod
ale-py
anyscale
boto3
cmake
crc32c
cython
gcsfs
gsutil
gym
gym[atari]
horovod[gloo]
horovod[pytorch]
importlib-metadata
memray
openskill
protobuf
pyarrow
pytest
semidbm
scikit-learn
scipy
tensorboardX
tensorflow
terminado
trueskill
tqdm
typer
wandb
xarray
zarr
