# Python requirements to run release tests from anyscale byod (gpu type)
accelerate
ale-py
boto3
cmake
crc32c
cupy-cuda113
datasets
deepspeed
evaluate
fastapi
filelock
gcsfs
gsutil
gym
gymnasium[atari,mujoco]==0.26.3
jupytext
memray
mosaicml-streaming
mujoco-py
modin
numpy
openskill
petastorm
pyarrow
pytest
pytorch_lightning
scikit-learn
semidbm
tblib
tensorboardX
torch 
torchtext
torchvision
transformers
trueskill
tqdm
typer
typing-extensions
urllib3
uvicorn
validators
wandb
xgboost
