--extra-index-url https://download.pytorch.org/whl/cpu
--find-links https://data.pyg.org/whl/torch-1.13.0+cpu.html
--find-links https://data.pyg.org/whl/torch-2.0.1+cpu.html

absl-py==1.4.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorboard
    #   tensorflow
aiohttp==3.8.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcsfs
    #   google-auth
aiosignal==1.3.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
ale-py==0.8.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   gym
annotated-types==0.6.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pydantic
anyio==3.7.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   fastapi
    #   starlette
argcomplete==1.12.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gsutil
asciitree==0.3.3
    # via zarr
astunparse==1.6.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
async-timeout==4.0.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
attrs==21.4.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
    #   pytest
boto==2.49.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
boto3==1.26.76
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
botocore==1.29.76
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   boto3
    #   s3transfer
cachetools==5.3.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-auth
certifi==2023.11.17
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   requests
    #   sentry-sdk
cffi==1.16.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   cryptography
charset-normalizer==3.3.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
    #   requests
click==8.1.7
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   typer
    #   wandb
cloudpickle==2.2.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gym
cmake==3.28.1
    # via -r requirements_byod_3.9.in
commonmark==0.9.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   rich
crc32c==2.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
crcmod==1.7
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gsutil
cryptography==38.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pyopenssl
cython==0.29.32
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
decorator==5.1.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcsfs
dill==0.3.7
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
diskcache==5.6.3
    # via petastorm
docker-pycreds==0.4.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
exceptiongroup==1.2.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   anyio
fastapi==0.104.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
fasteners==0.19
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-apitools
    #   gsutil
    #   zarr
flatbuffers==2.0.7
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
frozenlist==1.4.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
    #   aiosignal
fsspec==2023.5.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcsfs
    #   petastorm
future==0.18.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
gast==0.4.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
gcs-oauth2-boto-plugin==3.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gsutil
gcsfs==2023.5.0
    # via -r requirements_byod_3.9.in
gitdb==4.0.11
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gitpython
gitpython==3.1.40
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
google-api-core==2.14.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-cloud-core
    #   google-cloud-storage
google-apitools==0.5.32
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gsutil
google-auth==2.23.4
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcsfs
    #   google-api-core
    #   google-auth-oauthlib
    #   google-cloud-core
    #   google-cloud-storage
    #   gsutil
    #   tensorboard
google-auth-oauthlib==0.4.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcsfs
    #   tensorboard
google-cloud-core==2.3.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-cloud-storage
google-cloud-storage==2.5.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcsfs
google-crc32c==1.5.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-resumable-media
google-pasta==0.2.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
google-reauth==0.1.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
    #   gsutil
google-resumable-media==2.6.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-cloud-storage
googleapis-common-protos==1.61.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-api-core
grpcio==1.59.3 ; sys_platform != "darwin"
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorboard
    #   tensorflow
gsutil==5.27
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
gym==0.26.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
gym-notices==0.0.8
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gym
h5py==3.7.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
httplib2==0.20.4
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
    #   google-apitools
    #   gsutil
    #   oauth2client
idna==3.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   anyio
    #   requests
    #   yarl
importlib-metadata==4.10.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   ale-py
    #   gym
    #   markdown
importlib-resources==5.13.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   ale-py
iniconfig==2.0.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pytest
jinja2==3.0.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   memray
jmespath==1.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   boto3
    #   botocore
joblib==1.2.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   scikit-learn
keras==2.11.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
libclang==16.0.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
lightgbm==3.3.5
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
markdown==3.5.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorboard
markupsafe==2.1.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   jinja2
memray==1.10.0 ; platform_system != "Windows" and sys_platform != "darwin" and platform_machine != "aarch64"
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
monotonic==1.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gsutil
multidict==6.0.4
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
    #   yarl
numcodecs==0.12.1
    # via zarr
numpy==1.26.2
    # via
    #   ale-py
    #   gym
    #   h5py
    #   lightgbm
    #   numcodecs
    #   opt-einsum
    #   pandas
    #   petastorm
    #   pyarrow
    #   scikit-learn
    #   scipy
    #   tensorboard
    #   tensorboardx
    #   tensorflow
    #   xarray
    #   xgboost
    #   zarr
oauth2client==4.1.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
    #   google-apitools
oauthlib==3.2.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   requests-oauthlib
openskill==5.1.0
    # via -r requirements_byod_3.9.in
opt-einsum==3.3.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
packaging==21.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
    #   pytest
    #   tensorboardx
    #   tensorflow
    #   xarray
pandas==1.5.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
    #   xarray
pathtools==0.1.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
petastorm==0.12.1
    # via -r requirements_byod_3.9.in
pluggy==1.3.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pytest
promise==2.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
protobuf==3.19.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   google-api-core
    #   googleapis-common-protos
    #   tensorboard
    #   tensorboardx
    #   tensorflow
    #   wandb
psutil==5.9.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
    #   wandb
ptyprocess==0.7.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   terminado
py==1.11.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pytest
py4j==0.10.9.7
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pyspark
pyarrow==12.0.1 ; platform_system != "Windows"
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   petastorm
pyasn1==0.5.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   oauth2client
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.3.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-auth
    #   oauth2client
pycparser==2.21
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   cffi
pydantic==2.5.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   fastapi
pydantic-core==2.14.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pydantic
pygments==2.13.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   rich
pyopenssl==23.0.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
    #   gsutil
pyparsing==3.1.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   httplib2
    #   packaging
pyspark==3.4.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
pytest==7.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
python-dateutil==2.8.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   botocore
    #   pandas
pytz==2022.7.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pandas
pyu2f==0.1.5
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-reauth
pyyaml==6.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
pyzmq==24.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   petastorm
requests==2.31.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   gcsfs
    #   google-api-core
    #   google-auth
    #   google-cloud-storage
    #   requests-oauthlib
    #   tensorboard
    #   wandb
requests-oauthlib==1.3.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   google-auth-oauthlib
retry-decorator==1.1.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
    #   gsutil
rich==12.6.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   memray
rsa==4.7.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gcs-oauth2-boto-plugin
    #   google-auth
    #   oauth2client
s3transfer==0.6.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   boto3
scikit-learn==1.0.2 ; python_version < "3.11"
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   lightgbm
scipy==1.10.1 ; python_version < "3.11"
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   lightgbm
    #   scikit-learn
    #   xgboost
semidbm==0.5.1
    # via -r requirements_byod_3.9.in
sentry-sdk==1.37.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
setproctitle==1.3.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
shortuuid==1.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   wandb
six==1.16.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   astunparse
    #   docker-pycreds
    #   gcs-oauth2-boto-plugin
    #   google-apitools
    #   google-pasta
    #   gsutil
    #   oauth2client
    #   petastorm
    #   promise
    #   python-dateutil
    #   pyu2f
    #   tensorflow
    #   trueskill
    #   wandb
smmap==5.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   gitdb
sniffio==1.3.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   anyio
starlette==0.27.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   fastapi
tblib==3.0.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
tensorboard==2.11.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
tensorboard-data-server==0.6.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorboard
tensorboard-plugin-wit==1.8.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorboard
tensorboardx==2.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
tensorflow==2.11.0 ; sys_platform != "darwin" or platform_machine != "arm64"
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
tensorflow-estimator==2.11.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
tensorflow-io-gcs-filesystem==0.31.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
termcolor==2.3.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
terminado==0.18.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
threadpoolctl==3.1.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   scikit-learn
tomli==2.0.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   pytest
tornado==6.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   terminado
tqdm==4.64.1
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
trueskill==0.4.5
    # via -r requirements_byod_3.9.in
typer==0.9.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
typing-extensions==4.8.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
    #   ale-py
    #   fastapi
    #   pydantic
    #   pydantic-core
    #   starlette
    #   tensorflow
    #   typer
urllib3==1.26.18
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   botocore
    #   requests
    #   sentry-sdk
wandb==0.13.4
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
werkzeug==2.1.2
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorboard
wheel==0.42.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   astunparse
    #   lightgbm
    #   tensorboard
wrapt==1.16.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   tensorflow
xarray==2023.12.0
    # via -r requirements_byod_3.9.in
xgboost==1.7.6
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   -r requirements_byod_3.9.in
yarl==1.9.3
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   aiohttp
zarr==2.16.1
    # via -r requirements_byod_3.9.in
zipp==3.17.0
    # via
    #   -c /home/ubuntu/ray/python/requirements_compiled.txt
    #   importlib-metadata
    #   importlib-resources

# The following packages are considered to be unsafe in a requirements file:
# setuptools
