# Python requirements to run release tests from anyscale byod (cpu type)

-c requirements_compiled.txt
ale-py
boto3
cmake
crc32c
cython
fastapi
gcsfs==2023.12.1
gsutil
gymnasium
gymnasium[atari]
httpx
importlib-metadata
jsonschema
lightgbm
locust==2.18.0
memray
openskill
orjson
petastorm
protobuf
pyarrow
pydantic>=2.5.0
pytest
pyyaml
requests>=2.31.0
semidbm
s3fs
scikit-learn
scipy
tblib
terminado
tensorboardx==2.6.2.2
tensorflow
trueskill
tqdm
typer
typing-extensions
xarray
xgboost
zarr
