# Python requirements to run release tests from anyscale byod (cpu type)
typing-extensions==4.8.0
tensorflow==2.11.0
pydantic==2.5.0
wandb
fastapi

ale-py
boto3
cmake
crc32c
cython
gcsfs
gsutil
gym
gym[atari]
importlib-metadata
lightgbm
memray
openskill
petastorm
protobuf
pyarrow
pytest
requests>=2.31.0
semidbm
scikit-learn
scipy
tblib
terminado
tensorboardX
trueskill
tqdm
typer
xarray
xgboost
zarr
