# Python requirements to run release tests from anyscale byod (gpu type)
pydantic>2
deepspeed==0.12.3
fastapi==0.104.0

accelerate
boto3
cmake
crc32c
cupy-cuda113
datasets
diffusers
evaluate
filelock
gcsfs
gsutil
jupytext
memray
mosaicml-streaming
modin
numpy
openskill
petastorm
pyarrow
pytest
pytorch_lightning
scikit-learn
semidbm
tblib
tensorboardX
torch 
torchtext
torchvision
transformers
trueskill
tqdm
typer
typing-extensions
urllib3
uvicorn
validators
wandb
xgboost
