# Python requirements to run release tests from anyscale byod (gpu type, python 3.9)

accelerate
bitsandbytes
dataset
datasets
decord
deepspeed>=0.12.3
diffusers
evaluate
fairscale
fastapi
ipywidgets
lm_eval
matplotlib
numpy
openai-whisper
protobuf
pydantic>=2.5.0
pytorch-lightning
sentencepiece
statsforecast
tiktoken
torch
torchaudio
torchmetrics
torchtext
torchvision
transformers>=4.31.0
typepy>=1.3.2
wandb
