# Python requirements to run release tests from anyscale byod
accelerate
ale-py
anyscale
boto3
cmake
crc32c
cython
datasets
deepspeed
evaluate
fastapi
filelock
jupytext
gcsfs
gsutil
gym
gym[atari]
importlib-metadata
lightgbm_ray
memray
modin
myst-nb
myst-parser
openskill
petastorm
protobuf
pyarrow
pytest
pytorch_lightning
semidbm
scikit-learn
scipy
tblib
tensorboardX
tensorflow
terminado
torch
torchvision
torchaudio
transformers
trueskill
tqdm
typer
uvicorn
wandb
xarray
xgboost
xgboost_ray
zarr
