# Python requirements to run release tests from anyscale byod (cpu type)
ale-py
anyscale
boto3
cmake
crc32c
cython
gcsfs
gsutil
gym
gym[atari]
importlib-metadata
lightgbm
memray
openskill
petastorm
protobuf
pyarrow
pytest
requests>=2.31.0
semidbm
scikit-learn
scipy
tblib
tensorboardX
tensorflow
terminado
trueskill
tqdm
typer
wandb
xarray
xgboost
zarr
pydantic==1.9.2
fastapi==0.99.1