# Python requirements to run release tests from anyscale byod (gpu type, python 3.9)

-c requirements_compiled.txt
accelerate
bitsandbytes
boto3
cmake
crc32c
datasets
decord
deepspeed>=0.12.3
diffusers==0.12.1
evaluate
fairscale
fastapi
filelock
gcsfs==2023.12.1
gsutil
ipywidgets
jupytext
lm_eval==0.4.0
locust==2.18.0
matplotlib
memray
modin
# mosaicml-streaming
numpy
openai-whisper
openskill
orjson
petastorm
protobuf
pyarrow
pydantic>=2.5.0
pytest
pytorch-lightning
scikit-learn
semidbm
sentencepiece
statsforecast
tblib
tensorboardX
tiktoken
triton==2.3.0
torch==2.3.0
torchaudio
torchmetrics
torchtext
tqdm
transformers
trueskill
typepy>=1.3.2
typer
typing-extensions
urllib3
uvicorn
validators
wandb
xgboost
albumentations
