# Python requirements to run release tests from anyscale byod (cpu type)
ale-py
boto3
cmake
crc32c
cython
fastapi
gcsfs
gsutil
gymnasium
gymnasium[atari]
httpx
importlib-metadata
jsonschema
lightgbm
locust
memray
openskill
orjson
petastorm
protobuf
pyarrow
pydantic
pytest
pyyaml
requests
semidbm
s3fs
scikit-learn
scipy
tblib
terminado
tensorboardx
tensorflow
trueskill
tqdm
typer
typing-extensions
xarray
xgboost
zarr
