# Python requirements to run release tests from anyscale byod (gpu type)
accelerate
boto3
cmake
crc32c
cupy-cuda113
datasets
deepspeed
evaluate
filelock
gcsfs
gsutil
jupytext
memray
mosaicml-streaming
modin
numpy
openskill
petastorm
pyarrow
pytest
pytorch_lightning
scikit-learn
semidbm
tblib
tensorboardX
torch 
torchtext
torchvision
transformers
trueskill
tqdm
typer
typing-extensions
urllib3
uvicorn
validators
wandb
xgboost
pydantic==1.9.2
fastapi==0.99.1