ConfigSpace==0.4.10
bayesian-optimization
boto3
dm_tree
dragonfly-opt
gym[atari]
h5py
hpbandster
hyperopt==0.1.2
jupyter
keras
lightgbm
lz4
matplotlib
mlflow
nevergrad
opencv-python-headless
pandas
pytest-remotedata>=0.3.1
pytest-timeout
scikit-optimize
sigopt
smart_open
tabulate
tensorboardX
tensorflow_probability
torch
torchvision
xgboost
zoopt>=0.4.0
