ax-platform
ConfigSpace==0.4.10
bayesian-optimization
boto3
dm_tree
dragonfly-opt
gluoncv
gym[atari]
h5py
hpbandster
hyperopt==0.1.2
jupyter
keras
lightgbm
lz4
matplotlib
mlflow
mxnet
nevergrad
opencv-python-headless
pandas
pytest-remotedata>=0.3.1
pytest-timeout
pytorch-lightning
scikit-learn==0.22.2
scikit-optimize
sigopt
smart_open
tabulate
tensorboardX
tensorflow_probability
torch>=1.5.0
torchvision>=0.6.0
xgboost
zoopt>=0.4.0
timm
dataclasses
tune-sklearn==0.0.5
