flake8==3.9.1
flake8-quotes
gymnasium==0.26.3
# TODO(sven): Still needed for Atari (need to be wrapped by gymnasium as it does NOT support Atari yet)
gym==0.26.2
scikit-image
pandas
requests
tabulate
tensorflow
black==22.10.0
yq
