accelerate==1.10.1
bitsandbytes==0.42.0
diffusers==0.36.0
flax==0.8.5
ipywidgets==8.1.8
huggingface_hub==0.36.2
jax==0.4.30
jaxlib==0.4.30
numpy==2.0.2
torch==2.8.0
torchvision==0.23.0
transformers==4.57.6
