accelerate==0.20.3
bitsandbytes==0.39.1
diffusers==0.19.3
flax==0.6.11
ipywidgets
huggingface_hub==0.27.0
jax==0.4.13
jaxlib==0.4.13
numpy==1.24.4
torch==2.6.0
torchvision==0.15.2
transformers==4.30.2
