base_image: "anyscale/ray-ml:nightly-py37-gpu"
env_vars: {}

python:
  pip_packages: []
  conda_packages: []

post_build_cmds:
  - pip3 install tqdm || true
  - pip3 uninstall ray -y && pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
  - {{ env["RAY_WHEELS_SANITY_CHECK"] | default("echo No Ray wheels sanity check") }}
