# Used by CI for datasets and docs.
# https://github.com/ray-project/ray/pull/29448#discussion_r1006256498

dask[complete]==2022.2.0; python_version < '3.8'
dask[complete]==2022.10.1; python_version >= '3.8'
aioboto3==8.3.0
crc32c==2.3
flask_cors
moto[s3]==2.3.1
s3fs
modin>=0.8.3;  python_version < '3.7'
modin>=0.11.0; python_version >= '3.7'
pytest-repeat
raydp-nightly
responses==0.13.4
pymars>=0.8.3
