base_image: {{ env["RAY_IMAGE_NIGHTLY_CPU"] | default("anyscale/ray:nightly-py37") }}
debian_packages: []

python:
  pip_packages:
    - terminado
    - boto3
    - cython
  conda_packages: []

post_build_cmds:
  - pip3 uninstall -y ray && pip3 install -U {{ env["RAY_WHEELS"] | default("ray") }}
  - pip3 install ray[default]
  - echo {{env["DATESTAMP"]}}
  - {{ env["RAY_WHEELS_SANITY_CHECK"] | default("echo No Ray wheels sanity check") }}
