# Keep this in sync with the definition in setup.py for ray[llm], unless
# constraining to a maximum version (i.e. <=) to temporarily work around a bug.
# Those pins for the sake of workarounds should not be advertised as constraints
# on future releases in setup.py.
vllm>=0.10.2
# For json mode
jsonref>=1.1.0
jsonschema
ninja
# async-timeout is a backport of asyncio.timeout for python < 3.11
async-timeout; python_version < '3.11'
typer
meson
pybind11
hf_transfer

# nixl version Needs to be in sync with the one in ray-llm/Dockerfile
nixl==0.4.1
